.row
  .col-md-12
    .page-header
      - if @is_current_users_record
        %h2 Change Your Email
      - else
        %h2 Change #{ @user.name.possessive } Email



.row
  .col-md-12
    .alert.alert-danger
      %span.xlarge
        %i.fa.fa-exclamation-triangle
        - if @is_current_users_record
          Changing your email will required you to confirm the change via comfirmation email sent to your <em>NEW EMAIL ADDRESS</em>. The change will not happen if you do not confirm.
        - else
          Changing #{ @user.name.possessive } email does not require confirmation! Changes will take effect immediatly.
          %br
          A notification will be sent to the new email address of the change.

.row
  .col-md-offset-2.col-md-6
    = render partial: 'layouts/flash', locals: {flash: flash, ar_object: @user}
    %h3 &nbsp;
.row
  .col-md-offset-2.col-md-4
    .panel.panel-info
      .panel-heading
        - if @is_current_users_record
          %h3.panel-title Change Your Email
        - else
          %h3.panel-title Change #{ @user.name.possessive } Email

      .panel-body
        %p
          %strong Current Email:
          = @user.email

          %hr
        = bootstrap_form_for @user, url: "/units/#{@unit.id}/user_email/#{@user.id}" do |f|
          = f.text_field :email, label: 'New Email', value: nil, autofocus: true

          %h3 &nbsp;
          = f.primary 'Update Email'
          = link_to 'Cancel', :back, class: 'btn btn-default'

  .col-md-3.col-md-offset-3
    = render partial: 'users/picture_panel_lg', locals: {user: @user}

