= bootstrap_form_for @sms_message, url: unit_sms_messages_path(@unit), html: {multipart: true} do |f|
  = render partial: 'layouts/flash', locals: {flash: flash, ar_object: @sms_message}

  %fieldset
    %legend Send to
    .row
      .col-md-4
        = f.select :send_to_option, SmsMessage.send_to_options(@unit), hide_label: true

    .row
      .col-md-offset-1.col-md-10
        #email-leaders-list.collapse{ class: ('in' if @sms_message.send_to_leaders?) }
          .well.well-sm
            %h4 #{@unit.name_unit} Leaders
            %smaller.text-grey= @leaders.map(&:name_sms).join(', ')

        #email-sub-unit-list.collapse{ class: ('in' if @sms_message.send_to_sub_units?) }
          .well.well-sm
            - @sub_units.each do |sub_unit|
              .checkbox
                = f.label :sub_unit, class: 'sub-unit', data: {'original-title' => sub_unit_emails(sub_unit)} do
                  = check_box_tag 'email_message[sub_unit_ids][]', sub_unit.id, @sms_message.sub_unit_ids.include?(sub_unit.id.to_s)
                  %strong= sub_unit.name
                  %smaller.text-grey= sub_unit_sms(sub_unit)

        #email-send-to-users-list.collapse{ class: ('in' if @sms_message.send_to_users?) }
          .well.well-sm
            = f.collection_select :user_ids, @unit_users, :id, :name_lf, {hide_label: true}, {multiple: true}

    = f.form_group do
      .help-block only users who have elected to receve sms messages will be shown


  %fieldset
    %legend Message
    %p= f.text_area :message, hide_label: true

  %br
  = f.primary 'Send sms blast'
  = link_to 'Cancel', unit_sms_messages_path(@unit), class: 'btn btn-default'
