.modal-style
  .modal-header
    %h2 Sign up

  .modal-body.modal-body-tall
    = render :partial => 'layouts/flash', :locals => {flash: flash, ar_object: resource}
    %h4 Scoutlander.com user? You can import your entire unit, automagically!

    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal' }) do |f|

      = #devise_error_messages!

      .control-group
        = f.label :first_name, 'first name', :class => 'control-label'
        .controls
          = f.email_field :first_name, :class => 'text_field'

      .control-group
        = f.label :last_name, 'last name', :class => 'control-label'
        .controls
          = f.email_field :last_name, :class => 'text_field'

      .control-group
        = f.label :email, 'email', :class => 'control-label'
        .controls
          = f.email_field :email, :class => 'text_field'

      .control-group
        = f.label :password, 'password', :class => 'control-label'
        .controls
          = f.password_field :password, :class => 'text_field'

      .control-group
        = f.label :password_confirmation, 'confirm password', :class => 'control-label'
        .controls
          = f.password_field :password_confirmation, :class => 'text_field'

      .control-group
        .controls
          = f.submit "Sign up", :class => 'btn btn-primary'

  .modal-footer
    = render :partial => "devise/shared/links"
