.row-fluid
  .span12
    .well.well-small
      .row-fluid
        .span12
          %p.xxlarge
            %strong Sign Up #{event_signup.scout.f_name_l_initial}
          = form_for [event, event_signup], html: { class: 'form-horizontal form-condensed' } do |f|
            = f.hidden_field :scout_id
            .control-group
              = f.label :scouts_attending, 'scouts', class: 'control-label'
              .controls
                = f.select :scouts_attending, [0,1], {}, {class: 'span5'}

            .control-group
              = f.label :siblings_attending, 'siblings', class: 'control-label'
              .controls
                = f.select :siblings_attending, [0,1,2,3,4,5,6], {}, {class: 'span5'}

            .control-group
              = f.label :adults_attending, 'adults', class: 'control-label'
              .controls
                = f.select :adults_attending, [0,1,2,3,4,5,6], {}, {class: 'span5'}

            .row-fluid
              .span10.offset1.centered
                = f.text_area :comment, placeholder: 'comments', rows: 3, style: "width: 95%;"
            %br
            .centered
              = f.submit signup_submit(event_signup), name: 'event_signup_in_event_commit', class: 'btn btn-primary'
              - unless event_signup.new_record?
                = link_to "Cancel", event_event_signup_path(event, event_signup, event_signup_in_event_commit: 1), method: :delete, confirm: 'Are you sure you want to cancel your sign up?', class: 'btn btn-warning'


        / .span2{style: "background-color: #ccc; height: 400px"}
        /   .rotated-name2= event_signup.scout.full_name.split('').join("<br/>").html_safe
