
.modal-content
  .modal-header
    %button.close(data-dismiss='modal') &times;
    %p.xxlarge
      %strong
        -if remote_form.new_record?
          Add: #{remote_form.scout.name}
        -else
          Change #{remote_form.scout.name}
      / %small how does it work?



  = form_for remote_form, html: { class: 'form-horizontal' }, remote: true do |f|
    = f.hidden_field :scout_id
    = f.hidden_field :event_id
    .modal-body
      = render partial: 'layouts/flash', locals: {flash: flash, ar_object: remote_form}

      .form-group
        = f.label :scouts_attending, 'Scouts', class: 'control-label col-md-4'
        .col-md-3
          = f.select :scouts_attending, [0,1], {}, class: 'form-control'

      .form-group
        = f.label :siblings_attending, 'Siblings', class: 'control-label col-md-4'
        .col-md-3
          = f.select :siblings_attending, [0,1,2,3,4,5,6], {}, class: 'form-control'

      .form-group
        = f.label :adults_attending, 'Adults', class: 'control-label col-md-4'
        .col-md-3
          = f.select :adults_attending, [0,1,2,3,4,5,6], {}, class: 'form-control'

      .form-group
        .col-md-12
          = f.text_area :comment, placeholder: 'comments', rows: 3, class: 'form-control'

      .form-group
        .col-md-12.centered

    .modal-footer
      - unless remote_form.new_record?
        &nbsp;
        = link_to "Cancel reservation", remote_form, method: :delete, class: 'btn btn-warning btn-sm', remote: true
      = f.submit signup_submit(remote_form), class: 'btn btn-primary btn-sm'
      %br
      %br
      = link_to 'Close', '#', class: 'btn btn-default btn-sm', data: { dismiss: 'modal' }
