%h1 Listing event_signups

%table
  %tr
    %th Event
    %th Scouts
    %th Adults
    %th Siblings
    %th Comment
    %th
    %th
    %th

  - @event_signups.each do |event_signup|
    %tr
      %td= event_signup.event
      %td= event_signup.scouts
      %td= event_signup.adults
      %td= event_signup.siblings
      %td= event_signup.comment
      %td= link_to 'Show', event_signup
      %td= link_to 'Edit', edit_event_signup_path(event_signup)
      %td= link_to 'Destroy', event_signup, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Event signup', new_event_signup_path
