= render partial: 'layouts/flash', locals: {flash: flash}

%p
  %b Event:
  = @event_signup.event.name
%p
  %b Scouts:
  = @event_signup.scouts_attending
%p
  %b Adults:
  = @event_signup.adults_attending
%p
  %b Siblings:
  = @event_signup.siblings_attending
%p
  %b Comment:
  = @event_signup.comment
