:plain
  // hide the modal
  $("div#event-signup-modal-form").modal('hide');

  // update the flash/messages section
  // $("div#event-signup-flash").html("#{escape_javascript(render partial: 'layouts/flash', locals: {flash: flash, ar_object: @event_signup})}");


  // update the current users's signups (their scouts)
  $("div#event-signups-list").html("#{escape_javascript(render partial: 'event_signups/event_signup', collection: @event_signups)}");


  // update the event roster
  $("table#event-signup-roster").html("#{escape_javascript(render partial: 'event_signups/event_roster', collection: @event_rosters)}");


  // update the signup add select
  $("p#event-signup-add").html("#{escape_javascript(render partial: 'event_signups/signup_add', locals: { event: @event_signup.event })}");

  // re-bind tooltips to replacement elements
  $("[data-toggle='tooltip']").tooltip()

  // create a pnotify.js notification
- flash.each do |name, msg|
  :plain
    new PNotify({
      type: "#{name}",
      text: "#{msg}"
    });
