:plain
  // hide the modal
  $("div#event-signup-modal-form").modal('hide');


  // update the current users's quick signups
  $("div#event-quick-signup").html("#{escape_javascript(render partial: 'event_signups/quick_signup', locals: { event: @event })}");


  // update the current users's signups (their family)
  $("div#event-signups-list").html("#{escape_javascript(render partial: 'event_signups/event_signup', collection: @event.user_signups(current_user))}");


  // update the event roster
  $("#event-roster").html("#{escape_javascript(render partial: 'events/roster', locals: { event: @event })}");


  // re-bind tooltips to replacement elements
  $("[data-toggle='tooltip']").tooltip();

  // re-bind select to signup add select
  $("select#add-event-signup-select").select2({
    placeholder: '-- add signup --',
    allowClear: true
   });


  // create a pnotify.js notification
- flash.each do |name, msg|
  :plain
    new PNotify({
      type: "#{name}",
      text: "#{msg}"
    });
