= form_for @organization, url: sign_up_create_unit_path, :html => { class: 'form-horizontal' } do |f|
  .row-fluid
    .span6
      .well
        %h2 About your unit

        .control-group
          = f.label :unit_type, class: 'control-label'
          .controls
            = f.select :unit_type, Organization.unit_types
        .control-group
          = f.label :unit_number, class: 'control-label'
          .controls
            = f.text_field :unit_number, class: 'text_field'
            %span{class: 'help-inline'} ex. 134, 603, 15
        .control-group
          = f.label :city, class: 'control-label'
          .controls
            = f.text_field :city, class: 'text_field'
        .control-group
          = f.label :state, class: 'control-label'
          .controls
            = f.subregion_select :state, 'US'
        .control-group
          = f.label :time_zone, class: 'control-label'
          .controls
            = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones

    .span6
      .well
        %h2
          Add some
          %span.unit-type-plural= @organization.sub_unit_type.pluralize

        = f.fields_for :sub_units do |f_sub|
          .control-group
            = f_sub.label :name, class: 'control-label'
            .controls.sub-unit
              = f_sub.text_field :name, class: 'input-medium'
              = f_sub.hidden_field :_destroy
              = link_to "remove", '#', class: 'btn btn-warning btn-mini remove-sub-unit'

        .control-group.add-sub-unit
          .controls
            %span{:class => 'help-block'} ex. Den 1, Dragons,
            = link_to '#', class: 'btn btn-primary add-sub-unit-button' do
              add a
              %span.unit-type.unit-type= @organization.sub_unit_type

          #new-sub-unit-fields.hidden
            = f.fields_for :sub_units, SubUnit.new, child_index: 'new_sub_unit' do |f_sub|
              .control-group
                = f_sub.label :name, class: 'control-label'
                .controls.sub-unit
                  = f_sub.text_field :name, class: 'input-medium'
                  = f_sub.hidden_field :_destroy
                  = link_to "remove", '#', class: 'btn btn-warning btn-mini remove-sub-unit'

  .row-fluid
    .span12.centered
      = link_to 'Create My Unit', '#', class: 'btn btn-primary create-my-unit'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), organizations_path, class: 'btn'

:javascript
  window.unit_types = "#{j Organization::SUB_UNIT_TYPES.to_json}";
