= bootstrap_form_for @unit, url: sign_up_create_unit_path do |f|
  .row
    .col-md-6
      .well
        %h2 About your unit
        %p &nbsp;

        = f.select :unit_type, Unit.unit_types, {}, class: 'form-control'
        = f.text_field :unit_number, placeholder: 'ex. 134, 603, 15'
        = f.text_field :city
        = f.select :state, options_for_select(::UsStates.states_array, @unit.state), include_blank: 'Select...'

        = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {}

    .col-md-6
      .well.sub-units
        %h2
          And your
          %span.unit-type-plural= @unit.sub_unit_name.pluralize
        %p &nbsp;

        = f.fields_for :sub_units do |f_sub|
          .row
            .col-md-4.controls.sub-unit
              = f_sub.text_field :name
            .col-md-4
              = f_sub.hidden_field :_destroy
              = link_to "remove", '#', class: 'btn btn-warning btn-sm remove-sub-unit-button'

        .row
          .col-md-12
            .add-sub-unit
              %span.help-block.sub-unit-type#cub-scouts.hidden ex. Den 1, Den 9, Den 11
              %span.help-block.sub-unit-type#boy-scouts.hidden ex. Dragons, Eagles, Sea Cucumbers
              %span.help-block.sub-unit-type#girl-scouts.hidden ex. Patrol 1, Buffalo Gals, Copperheads
              %span.help-block.sub-unit-type#venturing-crew.hidden ex. Team Eagles, Team 1
              %span.help-block.sub-unit-type#order-of-the-arrow.hidden ex. Patrol 1, Crouching Tigers
              %br
              = link_to '#', class: 'btn btn-primary add-sub-unit-button' do
                add a
                %span.unit-type= @unit.sub_unit_name

          #new-sub-unit-fields.hidden
            = f.fields_for :sub_units, SubUnit.new, child_index: 'new_sub_unit' do |f_sub|
              .form-group
                = f_sub.label :name, class: 'control-label col-md-4'
                .col-md-4.controls.sub-unit
                  = f_sub.text_field :name, class: 'form-control'
                .col-md-4
                  = f_sub.hidden_field :_destroy
                  = link_to "remove", '#', class: 'btn btn-warning btn-sm remove-sub-unit-button'

  .row
    .col-md-12.centered
      = link_to 'Create My Unit', '#', class: 'btn btn-primary create-my-unit'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), units_path, class: 'btn btn-default'

:javascript
  window.unit_types = "#{j Unit.unit_types_sub_units.to_json}";
