.row
  .col-md-12
    %h2.centered Welcome to Scoutt.in!
    %p &nbsp;

.row
  .col-md-4.col-md-offset-1
    .well.well-lg
      %h3 Transfer My Scoutander Info
      %p We can transfer all your adults, scouts, and events right from Scoutlander into Scoutz. All you need is any <em>administrator's</em> email address and password.
      .pull-right
        = link_to 'read more...', '#', {data: {toggle: 'modal', target: '#import-more-info'}}
      %p
        %strong Transfer today!

      %p.clearfix

      = bootstrap_form_tag url: '#' do |sf|
        = sf.text_field :sl_admin_email, hide_label: true, class: 'input-lg', placeholder: 'scoutlander admin email'
        = sf.text_field :sl_admin_password, hide_label: true, class: 'input-lg', placeholder: 'scoutlander admin password'
        = submit_tag 'Import', class: 'btn btn-primary btn-block'


  .col-md-4.col-md-offset-1
    .well.well-lg
      %h3 Setup My New Unit
      %p If you don't use Scoutlander, or you just want to start off fresh, you are in the right spot.
      %p &nbsp;
      = bootstrap_form_for @unit, url: sign_up_new_unit_path, method: :get do |f|
        = f.select :unit_type, Unit.unit_types
        = f.text_field :unit_number, placeholder: 'ex. 134, 603, 15'
        = f.submit 'Start My Unit', class: 'btn btn-primary btn-block'


.modal.fade#import-more-info
  .modal-dialog
    .modal-content

      .modal-header
        %button.close(data-dismiss='modal') &times;
        %h3
          Importing from Scoutlander
          %small how does it work?
      .modal-body
        %p Importing from Scoutlander takes place in the background, while you do other things. If Scoutt.in runs into an error, we will notify you. When the import is done, you will receive an email detailing your successful tansfer.
        %p Because we can not import passwords, you will be given the option of sending emails to all your adults and youth, instructing them how to start using Scoutz.
        %p We can import the following:
        %ul
          %li All Adults (no passwords)
          %li All Youth (no passwords)
          %li All Events (last month, + 6 months)

        %p What we can not import:
        %ul
          %li Private site pages
          %li Pictures
          %li Knowledge base documents
          %li Past send emails

      .modal-footer
        = link_to 'Close', '#', class: 'btn btn-default', data: { dismiss: 'modal' }
