.row
  .col-md-12
    %h2 Welcome to Scoutz!

.row
  .col-md-5.col-md-offset-1
    .well.well-lg
      %h3 Transfer from Scoutlander.com
      %p We can transfer all your adults, scouts, and events right from Scoutlander into Scoutz. All you need is an <em>administrator's</em> email address and password.
      %p
        %strong Go ahead, it's easy!

      .pull-right
        %button.btn.btn-mini{'data-toggle' => 'modal', 'data-target' => '#import-more-info'}
          %i.icon-info-sign
          info...
      %p.clearfix

      = form_tag '#' do
        .form-group
          = label_tag :sl_admin_email, '', class: 'sr-only'
          = text_field_tag :sl_admin_email, nil, class: 'form-control', placeholder: 'admin email'
        .form-group
          = label_tag :sl_admin_password, '', class: 'sr-only'
          = text_field_tag :sl_admin_password, nil, class: 'form-control', placeholder: 'admin password'
        .form-group
          %p= submit_tag 'Import', class: 'btn btn-primary'


  .col-md-5
    .well.well-lg
      %h4 Setup Your New Unit
      %p &nbsp;
      = form_for @unit, url: sign_up_new_unit_path, html: { class: 'form-horizontal' } do |f|
        .form-group
          = f.label :unit_type, 'Type', class: 'control-label col-md-4'
          .col-md-8
            = f.select :unit_type, Unit.unit_types, {}, class: 'form-control'

        .form-group
          = f.label :unit_number, class: 'control-label col-md-4'
          .col-md-8
            = f.text_field :unit_number, class: 'form-control', placeholder: 'unit number'
            .help-block ex. 134, 603, 15

        .form-group
          .col-md-8.col-md-offset-4
            %p= f.submit 'Start My Unit', :class => 'btn btn-primary'


.modal.fade#import-more-info
  .modal-dialog
    .modal-content

      .modal-header
        %button.close(data-dismiss='modal') &times;
        %h3
          Importing from Scoutlander
          %small how does it work?
      .modal-body
        %p Importing from Scoutlander takes place in the background, while you do other things. If Scoutz runs into an error, we will notify you. When the import is done, you will receive an email detailing your successful tansfer.
        %p Because we can not import passwords, you will be given the option of sending emails to all your adults and youth, instructing them how to start using Scoutz.
        %p We can import the following:
        %ul
          %li All Adults (but no passwords)
          %li All Youth (but no passwords)
          %li All Events

        %p What we can not import:
        %ul
          %li Private site pages
          %li Pictures
          %li Knowledge base documents
          %li Past send emails

      .modal-footer
        = link_to 'Close', '#', class: 'btn btn-default', data: { dismiss: 'modal' }
