.row
  .col-md-12
    = render partial: 'layouts/flash', locals: {flash: flash}

    .panel.panel-index-table.panel-default
      .panel-heading
        %span.xxlarge
          %i.fa.fa-graduation-cap
          Merit Badges and Counselors

      .panel-body
        .panel-nav
          = cache ["unit-#{@unit.id}", ":merit_badges_search"] do
            = render partial: 'layouts/search', locals: {search_url: "/units/#{@unit.id}/merit_badges.js?search_typeahead="}


        #merit-badge-index
          = render partial: 'index', locals: {unit: @unit, merit_badges: @merit_badges, merit_badges_count: @merit_badges_count, searching: @searching}
