= form_for @user, url: unit_adult_path(@unit, @user), html: { class: 'form-horizontal' } do |f|
  = render partial: 'layouts/flash', locals: {flash: flash, ar_object: @user}

  .control-group
    = f.label :unit, class: 'control-label'
    .controls
      .text-xlarge= @unit.name

  .control-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :first_name, class: 'text_field', placeholder: 'first name'
      = f.text_field :last_name, class: 'text_field', placeholder: 'last name'

  .control-group
    = f.label :leadership_position, 'Leadership positions', class: 'control-label'
    .controls
      %p= f.select :leadership_position, @unit.adult_leadership_positions, include_blank: true
      = f.text_field :additional_leadership_positions, class: 'span8', placeholder: 'additional leadership positions'

  .control-group
    = f.label :birth, 'Birthday', class: 'control-label'
    .controls
      = f.date_select :birth, {start_year: 1930, end_year: Time.now.year, include_blank: true}, class: 'span2'

  %fieldset
    %legend Picture
    .control-group
      .well.well-thin
        = image_tag @user.picture.url
        %p= f.file_field :picture
      .help-block alowed attachments: jpg jpeg gif png, at least 200px X 200px


  %fieldset
    %legend Notifications
    .control-group
      = f.label :email, class: 'control-label'
      .controls
        = f.email_field :email, class: 'span5'

    .control-group
      = f.label :sms_number, class: 'control-label'
      .controls
        = f.phone_field :sms_number, class: 'span3'
        .help-inline cell number to send text messages to

    .control-group
      %span.control-label
        Types
      .controls
        .span8
          %table.table.table-condensed
            %tr
              %td{colspan: 3} select how you would like to receive notifications
            %tr
              %th Email blasts
              %td
                = f.label :blast_email, class: 'checkbox' do
                  = f.check_box :blast_email
                  email
              %td
                = f.label :blast_sms, class: 'checkbox' do
                  = f.check_box :blast_sms
                  sms
            %tr
              %th Event reminders
              %td
                = f.label :event_reminder_email, class: 'checkbox' do
                  = f.check_box :event_reminder_email
                  email
              %td
                = f.label :event_reminder_sms, class: 'checkbox' do
                  = f.check_box :event_reminder_sms
                  sms

            %tr
              %th Signup deadlines
              %td
                = f.label :signup_deadline_email, class: 'checkbox' do
                  = f.check_box :signup_deadline_email
                  email
              %td
                = f.label :signup_deadline_sms, class: 'checkbox' do
                  = f.check_box :signup_deadline_sms
                  sms
          .help-block if you select only SMS for a type of notificaiton, and the message can not be sent via SMS, it will automatically revert to sending via email


  %fieldset
    %legend Address
    .control-group
      = f.label :address1, class: 'control-label'
      .controls
        = f.text_field :address1, class: 'span6'

    .control-group
      = f.label :address2, class: 'control-label'
      .controls
        = f.text_field :address2, class: 'span6'

    .control-group
      = f.label :city, 'City, State, Zip', class: 'control-label'
      .controls
        = f.text_field :city, class: 'span4', placeholder: 'city'
        = f.text_field :state, class: 'span1', placeholder: 'state'
        = f.text_field :zip_code, class: 'span2', placeholder: 'zip code'

  %fieldset
    %legend Scouts
    .control-group
      = label_tag :scout_ids, 'Scouts', class: 'control-label'
      .controls
        = f.collection_select :scout_ids, @unit.scouts.by_name_lf, :id, :name_lf, {}, {multiple: true, class: '', style: "width: 500px"}
        .help-block parents will also be associated to the den(s)/patrol(s) of this Scout


  .form-actions
    = f.submit class: 'btn btn-primary'
    = link_to 'Cancel', unit_adults_path, class: 'btn'
