.row-fluid
  .span12
    .page-header
      .pull-right
        = link_to(new_unit_adult_path(@unit), class: "btn btn-success") do
          %i.icon-plus
          new adult

      %h2 Adults in #{@unit.name}


.row-fluid
  .span9
    %table.table
      %tr
        %th
        %th Name
        %th= @unit.sub_unit_name
        %th Leadership
        %th Scouts

      - @users.each do |adult|
        %tr
          %td.user-picture
            - if adult.picture.present?
              %div.circle-picture{style: "background:url(#{adult.picture.thumb.url})"}
          %td= link_to adult.name_lf, unit_adult_path(@unit, adult)
          %td= adult_sub_units_list(@unit, adult)
          %td= adult.leadership_position
          %td= unit_scouts_link_list(@unit, adult.unit_scouts(@unit))

  .span3
    / .well.well-boys
    /   %strong Rank Count
    /   %ul.unstyled
    /     - @unit.scout_rank_count.each do |rank|
    /       %li= "#{rank[0] || '<none>'} : #{rank[1]}"

    /   %strong #{@unit.sub_unit_name} Count
    /   %ul.unstyled
    /     - @unit.scout_sub_unit_count.each do |sub_unit|
    /       %li= "#{sub_unit[0] || '<none>'} : #{sub_unit[1]}"
