.row
  .col-md-12
    .page-header
      .pull-right
        - if policy(Adult).new?
          = link_to(new_unit_adult_path(@unit), class: "btn btn-success") do
            %i.fa.fa-plus
            new adult

      %h2 Adults in #{@unit.name}


.row
  .col-md-10
    = render partial: 'layouts/flash', locals: {flash: flash}

    %table.table
      %tr
        %th
        %th Name
        / %th= @unit.sub_unit_name
        %th Leadership
        %th Scouts

      = cache cache_key_for_users(@users) do
        - @users.each do |adult|
          = cache adult do
            %tr
              %td.user-picture
                - if adult.picture.present?
                  %div.circle-picture{style: "background:url(#{adult.picture.thumb.url})"}
              %td= link_to adult.name_lf, unit_adult_path(@unit, adult)
              / %td= adult_sub_units_list(@unit, adult)
              %td= adult.all_leadership_positions
              %td= unit_scouts_link_list(@unit, adult.unit_scouts(@unit))
