.page-header
  .pull-right
    .btn-group
      = link_to(unit_adults_path(@unit), class: 'btn btn-default') do
        %i.fa.fa-reply.hidden-xs
        #{@unit.name_unit} Adults

      - if policy(@user).edit?
        = link_to(edit_unit_adult_path(@unit, @user), class: 'btn btn-default') do
          %i.fa.fa-edit.hidden-xs
          Edit

      - if policy(@user).new? || policy(@user).destroy?
        %a.btn.dropdown-toggle.btn-default{ href: '#', data: { toggle: 'dropdown' }, title: 'Actions' }
          %i.fa.fa-gear
          %span.caret
        %ul.dropdown-menu.pull-right
          - if policy(@user).destroy?
            %li
              = link_to(unit_adult_path(@unit, @user), method: :delete, data: { confirm: 'Are you sure?' }, class: '') do
                %i.fa.fa-trash-o.text-muted-more
                Destroy #{@user.first_name}

          - if policy(@user).new?
            %li
              = link_to(new_unit_adult_path(@unit), class: '') do
                %i.fa.fa-plus.text-muted-more
                New Adult

          - if !@user.email.blank? && policy(@user).send_welcome_reset_password?
            %li
              = link_to '#', data: { toggle: 'modal', target: '#send-welcome-email' } do
                %i.fa.fa-envelope.text-muted-more
                Send Welcome Email

  %h2 Adult: #{@user.full_name}

= render partial: 'layouts/flash', locals: { flash: flash, ar_object: @user }

.row
  = cache ["unit-#{@unit.id}", @user] do
    .col-md-8
      .text-xlarge
        %table.table#user-info
          %tr
            %td
              %strong Unit
            %td= @unit.name

          %tr
            %td
              %strong Position
            %td= all_leadership_positions(@unit, @user)

          %tr
            %td
              %strong Email
            %td= mail_to @user.email

          %tr
            %td
              %strong Phones
            %td
              - @user.phones.each do |phone|
                #{phone.kind}:
                = link_to number_to_phone(phone.number), "tel:1-#{number_to_phone phone.number}"
                %br

          %tr
            %td
              %strong Address
            %td
              %address= user_address_show(@user)

          %tr
            %td
              %strong= @unit.sub_unit_name.pluralize
            %td= @user.sub_units(@unit).map(&:name).join(', ')

          %tr
            %td
              %strong Scouts
            %td= unit_users_link_list(@unit, @user.unit_scouts(@unit))

          = render partial: 'users/health_form_show', locals: { user: @user, unit: @unit }

          %tr
            %td
              %strong MB Counselor
            %td
              - @user.merit_badges.unit(@unit.id).by_name.each do |merit_badge|
                = link_to merit_badge.name, [@unit, merit_badge]
                %br

  .col-md-3.col-md-offset-1
    = render partial: 'users/picture_panel_lg', locals: { user: @user }
    - if current_user.admin?
      = render partial: 'users/show_admin_panel', locals: { user: @user }

- if !@user.email.blank? && policy(@user).send_welcome_reset_password?
  = render layout: 'users/send_welcome_email_modal' do
    = link_to 'Send Welcome Email', send_welcome_reset_password_unit_adult_path(@unit, @user), class: 'btn btn-primary'
