.row-fluid
  .span12
    .page-header
      .pull-right
        - #if @user.users.where(id: current_user).count > 0
        = link_to(organization_adults_path(@organization), class: 'btn') do
          %i.icon-large.icon-reply
          #{@organization.name_unit} adults

        = link_to(edit_organization_adult_path(@organization, @user), class: 'btn') do
          %i.icon-large.icon-edit
          change

        .btn-group
          %a.btn.dropdown-toggle.btn-warning{href: '#', data: {toggle: 'dropdown'}}
            actions
            %span.caret
          %ul.dropdown-menu.pull-right
            %li
              = link_to(organization_adult_path(@user), method: :delete, confirm: 'Are you sure?', class: "") do
                %i.icon-trash.icon-large
                destroy #{@user.first_name}

            %li
              = link_to(new_organization_adult_path(@organization), class: "") do
                %i.icon-large.icon-plus
                new adult

      %h2 Adult: #{@user.full_name}

    = render partial: 'layouts/flash', locals: {flash: flash, ar_object: @user}

.row-fluid
  .span8
    .text-xlarge
      %table.table
        %tr
          %td
            / %strong= @user.sub_unit.organization.unit_type_title
            %strong Unit
          %td
            = @organization.name

        %tr
          %td
            %strong Position
          %td
            = @user.leadership_position

        %tr
          %td
            %strong Email
          %td
            = @user.email

        %tr
          %td
            %strong= @organization.sub_unit_name.pluralize
          %td
            = @user.sub_units(@organization).map(&:name).join(', ')

        %tr
          %td
            %strong Scouts
          %td
            = adult_scouts_link_list(@organization, @user)

        %tr
          %td
            %strong Address
          %td
            %address= user_address_show(@user)
