= f.text_field :part_a_date
= f.text_field :part_b_date
= f.text_field :part_c_date

.row
  .col-md-offset-2.col-md-5
    %p
      %strong.xlarge Basic/Summer Camp

    .form-group
      = label_tag :part_a_date_d, 'Part A', class: 'control-label'
      .input-group
        .input-group-addon
          %i.fa.fa-calendar
        = text_field_tag :part_a_date_d, f.object.part_a_date.try(:to_s, :us_date), class: 'form-control date-picker', data: {altfield: '#health_form_part_a_date'}
        %span.input-group-btn
          %button.btn.btn-default.date-clear{type: 'button'} clear


    -# = f.text_field :part_a_date, value: f.object.part_a_date.try(:to_s, :us_date), label: 'Part A', class: 'date-picker', label_col: 'col-md-4', control_col: 'col-md-6', append: '<i class="fa fa-calendar"></i>'.html_safe

    = f.text_field :part_b_date, value: f.object.part_b_date.try(:to_s, :us_date), label: 'Part B', class: 'date-picker', label_col: 'col-md-4', control_col: 'col-md-6', append: '<i class="fa fa-calendar"></i>'.html_safe

    = f.text_field :part_c_date, value: f.object.part_c_date.try(:to_s, :us_date), label: 'Part C', class: 'date-picker', label_col: 'col-md-4', control_col: 'col-md-6', append: '<i class="fa fa-calendar"></i>'.html_safe


  .col-md-5
    %p
      %strong.xlarge High Adventure

    = f.text_field :florida_sea_base_date, value: f.object.florida_sea_base_date.try(:to_s, :us_date), label: 'Florida Sea Base', class: 'date-picker', label_col: 'col-md-5', control_col: 'col-md-6', append: '<i class="fa fa-calendar"></i>'.html_safe

    = f.text_field :northern_tier_date, value: f.object.northern_tier_date.try(:to_s, :us_date), label: 'Northern Tier', class: 'date-picker', label_col: 'col-md-5', control_col: 'col-md-6', append: '<i class="fa fa-calendar"></i>'.html_safe

    = f.text_field :philmont_date, value: f.object.philmont_date.try(:to_s, :us_date), label: 'Philmont', class: 'date-picker', label_col: 'col-md-5', control_col: 'col-md-6', append: '<i class="fa fa-calendar"></i>'.html_safe

    = f.text_field :summit_tier_date, value: f.object.summit_tier_date.try(:to_s, :us_date), label: 'Summit Tier', class: 'date-picker', label_col: 'col-md-5', control_col: 'col-md-6', append: '<i class="fa fa-calendar"></i>'.html_safe

= f.hidden_field :unit_id, value: unit.id
