.col-lg-6.col-lg-offset-3
  .modal-fade
    .modal-dialog
      .modal-content
        .modal-header
          %h2= @params[:welcome] ? 'Welcome to Scoutt.in!' : 'Change your password'

        .modal-body
          = render partial: 'layouts/flash', locals: {flash: flash, ar_object: resource}

          - if @params[:welcome]
            %p.xlarge An administrator from your Troop, Pack, or Crew has requested you join Scoutt.in. An account has already been setup for you. You just need to create a password.

          .row
            .col-md-8.col-md-offset-2
              = bootstrap_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put } do |f|
                = f.hidden_field :reset_password_token
                %br
                = f.password_field :password, autofocus: true, placeholder: 'new password', hide_label: true, class: 'input-lg'
                = f.password_field :password_confirmation, placeholder: 'enter again', hide_label: true, class: 'input-lg'

                %br
                - if @params[:welcome]
                  = f.submit "Create my password", class: 'btn btn-primary btn-block btn-lg'
                - else
                  = f.submit "Change my password", class: 'btn btn-primary btn-block btn-lg'
                %br

              - if devise_mapping.registerable? && controller_name != 'registrations'
                %p.centered
                  Don't have an account?
                  = link_to "Sign up", new_registration_path(resource_name)

        .modal-footer
          = render partial: "devise/shared/links"

