%h3{style: "margin-bottom: 20px;"} #{event.unit.name} - #{event.name}
%div{style: "margin-left: 12px; margin-bottom: 48px;"}
  %table
    %tr
      %td{td_email}
        %strong Kind
      %td
        = event.kind
        = " - #{event_kind_sub_units(event)}" if event.sub_unit_kind?

    %tr
      %td
        %strong Times
      %td #{event.start_at.to_s(:short_ampm)} - #{event.end_at.to_s(:short_ampm)}

    %tr
      %td
        %strong Organizers
      %td
        = event.users.map(&:full_name).join(", ")

    %tr
      %td
        %strong RSVP
      %td
        #{event.signup_required ? "required, by #{event.signup_deadline.to_s(:short_ampm)}" : 'not required'}
        %a{href: "#signup"} signup below

    - if event.signup_required
      %td
        %strong Attending
      %td
        = event.attendee_count
        %span{style: "color: dimgray;"} (as of #{Time.zone.now.to_s(:short_ampm)})

    %tr
      %td
        %strong Attire
      %td= event.attire

    %tr
      %td{td_email}
        %strong Location
      %td
        %address= location_show(event)

    %tr
      %td &nbsp;
      %td= event.message.html_safe

  %div#signup
  - if @recipient_user.is_an_adult?
    - scouts = @recipient_user.unit_scouts(event.unit)
  - else
    - scouts = [self]

  %div{style: "border: 1px solid gainsboro; margin: 0 0 12px 20px; background-color: whitesmoke; padding: 12px;"}
    - scouts.each do |scout|
      %div{style: "background-color: dimgray; color: white; padding: 4px 12px; margin-bottom: 12px"}
        %strong{style: "font-size: 24px;"} Signup for #{scout.full_name}
      %table
        %tr
          %td{style: "width: 300px; vertical-align: top;"}
            - event_signup = scout.event_signup_up(event)
            -if event_signup.blank?
              %p #{scout.first_name} is not currenly signed up to go.
            - else
              Signed up on #{event_signup.updated_at.to_s(:short_ampm)}
              %br
              Scouts attending: #{event_signup.scouts_attending}
              %br
              Adults attending: #{event_signup.adults_attending}
              %br
              Siblings attending: #{event_signup.siblings_attending}
              %br
              Comments: #{event_signup.comments}
              %p= link_to("Cancel this reservation", '#')

          %td{style: "border: 2px solid #eeeeee; padding: 6px; background-color: snow;"}
            - defaults = {event: event, recipient_user: @recipient_user, scout: scout, scouts: 1}
            %table
              %tr
                %td &nbsp;
                %td{colspan: 3, style: "text-align: center; font-size: 1.3em; padding-bottom: 8px;"} - #{scout.first_name} going with -
              %tr{style: "text-align: center;"}
                %th &nbsp;
                %th 0 Adults
                %th 1 Adult
                %th 2 Adults

              %tr{style: "text-align: center;"}
                %th 0 Siblings
                %td= email_signup_link(defaults.merge(adults: 0, siblings: 0, body: "#{scout.first_name} alone"))
                %td= email_signup_link(defaults.merge(adults: 1, siblings: 0))
                %td= email_signup_link(defaults.merge(adults: 2, siblings: 0))

              %tr{style: "text-align: center;"}
                %th 1 Sibling
                %td= email_signup_link(defaults.merge(adults: 0, siblings: 1))
                %td= email_signup_link(defaults.merge(adults: 1, siblings: 1))
                %td= email_signup_link(defaults.merge(adults: 2, siblings: 1))

              %tr
                %td &nbsp;
                %td{colspan: 3, style: "text-align: center; padding-top: 12px;"}
                  = link_to "Signup with different options", from_email_event_event_signups_url(event, {scout_id: scout.id,user_token: @recipient_user.signup_token, event_token: event.signup_token})

              %tr
                %td{colspan: 4, style: "text-align: center; padding-top: 8px;"}
                  %span{style: "font-size: 10px; margin-top: 8px;"} Selecting any link above will either create a new signup for the #{event.name} event, or modify your existing signup.
