%h3{style: "margin-bottom: 20px;"} #{event.unit.name} - #{event.name}
%div{style: "margin-left: 12px; margin-bottom: 48px;"}
  %table
    %tr
      %td{td_email}
        %strong Kind
      %td
        = event.kind
        = " - #{event_kind_sub_units(event)}" if event.sub_unit_kind?

    %tr
      %td
        %strong Times
      %td #{event.start_at.in_time_zone(event.unit.time_zone).to_s(:short_ampm)} - #{event.end_at.in_time_zone(event.unit.time_zone).to_s(:short_ampm)}

    %tr
      %td
        %strong Organizers
      %td
        = event.users.map(&:full_name).join(", ")

    %tr
      %td
        %strong RSVP
      %td
        #{event.signup_required ? "required, by #{event.signup_deadline.in_time_zone(event.unit.time_zone).to_s(:short_ampm)}" : 'not required'}
        - if event.signup_required
          - if event.after_signup_deadline?
            %strong (PASSED)
          - else
            %a{href: "#signup"} (signup below)

    - if event.signup_required
      %td
        %strong Attending
      %td
        = event.attendee_count
        %span{style: "color: dimgray;"} (as of #{Time.zone.now.in_time_zone(event.unit.time_zone).to_s(:short_ampm)})

    %tr
      %td
        %strong Attire
      %td= event.attire

    %tr
      %td{td_email}
        %strong Location
      %td
        %address= email_location(event)

    - if event.ical.file.try(:exists?)
      %tr
        %td
          %strong iCal
        %td
          = link_to image_tag('ical_email.png'), email_url_with_domain_and_host(event.ical.url), download: "#{event.name.parameterize}.ics"

    %tr
      %td &nbsp;
      %td= event.message.html_safe





  - if event.signup_required
    %div#signup
    - if @recipient && @recipient.adult?
      - scouts = @recipient.unit_scouts(event.unit)
    - else
      - scouts = @recipient.blank? ? [] : [@recipient]

    %div{style: "border: 1px solid gainsboro; margin: 0 0 12px 20px; background-color: whitesmoke; padding: 12px;"}
      - scouts.each do |scout|
        %div{style: "background-color: dimgray; color: white; padding: 4px 12px; margin-bottom: 12px"}
          %strong{style: "font-size: 24px;"} Signup for #{scout.full_name}
        - if event.after_signup_deadline?
          %h4{style: "color: maroon;"} Signup for this event has passed. You can not signup, but you can change your existing reservation.
        %table
          %tr
            %td{style: "width: 300px; vertical-align: top;"}
              - event_signup = scout.event_signup_up(event)
              -if event_signup.blank?
                %p #{scout.first_name} is not currenly signed up to go.
              - else
                %table
                  %tr
                    %td Signed up:
                    %td= event_signup.updated_at.to_s(:short_ampm)
                  %tr
                    %td Scouts attending:
                    %td= event_signup.scouts_attending
                  %tr
                    %td Siblings attending:
                    %td= event_signup.siblings_attending
                  %tr
                    %td Adults attending:
                    %td= event_signup.adults_attending
                  %tr
                    %td Comments:
                    %td= event_signup.comment
                  %tr
                    %td Needs a Ride:
                    %td
                      - if event_signup.need_carpool_seats && event_signup.need_carpool_seats > 0
                        Yes, #{event_signup.need_carpool_seats} #{'seat'.pluralize(event_signup.need_carpool_seats)}
                      - else
                        No
                  %tr
                    %td Can Drive:
                    %td
                      - if event_signup.has_carpool_seats
                        - if event_signup.has_carpool_seats == 0
                          Driving, but no available seats
                        - else
                          Driving, has #{event_signup.has_carpool_seats} available #{'seat'.pluralize(event_signup.has_carpool_seats)}
                      - else
                        No

                %p= link_to("Cancel this signup", event_email_event_signups_url(event, {scout_id: scout.id, user_token: @recipient.signup_token, event_token: event.signup_token, cancel_reservation: true}))

            - if !event_signup.blank? || !event.after_signup_deadline?
              %td{style: "border: 2px solid #eeeeee; padding: 6px; background-color: snow;"}
                - defaults = {event: event, recipient: @recipient, scout: scout, scouts: 1}
                %table
                  %tr
                    %td &nbsp;
                    %td{colspan: 3, style: "text-align: center; font-size: 1.3em; padding-bottom: 8px;"} - #{scout.first_name} going with -
                  %tr{style: "text-align: center;"}
                    %th &nbsp;
                    %th 0 Adults
                    %th 1 Adult
                    %th 2 Adults

                  %tr{style: "text-align: center;"}
                    %th 0 Siblings
                    %td= email_signup_link(defaults.merge(adults: 0, siblings: 0, body: "#{scout.first_name} alone"))
                    %td= email_signup_link(defaults.merge(adults: 1, siblings: 0))
                    %td= email_signup_link(defaults.merge(adults: 2, siblings: 0))

                  %tr{style: "text-align: center;"}
                    %th 1 Sibling
                    %td= email_signup_link(defaults.merge(adults: 0, siblings: 1))
                    %td= email_signup_link(defaults.merge(adults: 1, siblings: 1))
                    %td= email_signup_link(defaults.merge(adults: 2, siblings: 1))

                  %tr
                    %td &nbsp;
                    %td{colspan: 3, style: "text-align: center; padding-top: 12px;"}
                      = link_to "Signup with different options or change carpooling", event_email_event_signups_url(event, {scout_id: scout.id,user_token: @recipient.signup_token, event_token: event.signup_token})

                  %tr
                    %td{colspan: 4, style: "text-align: center; padding-top: 8px;"}
                      %span{style: "font-size: 10px; margin-top: 8px;"} Selecting any link above will create a new signup for the #{event.name} event, or modify your existing signup.
