= bootstrap_form_for @event, layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-8' do |f|
  = render partial: 'layouts/flash', locals: {flash: flash, ar_object: @event}

  .row
    .col-md-12
      .page-header
        .form-inline
          - if controller.action_name == 'new'
            %h2 New Event for #{@unit.name}
          - else
            %h2 Edit Event

  .row
    .col-md-9
      = f.text_field :name, autofocus: true, label: 'Event name'

      = f.text_field :start_at, class: 'datetime-picker', value: @event.start_at.to_s(:datetimepicker), control_col: 'col-md-4', append: '<i class="fa fa-calendar"></i>'.html_safe
      = f.text_field :end_at, class: 'datetime-picker', value: @event.end_at.to_s(:datetimepicker), control_col: 'col-md-4', append: '<i class="fa fa-calendar"></i>'.html_safe

      = f.form_group :send_reminders do
        = f.check_box :send_reminders, label: "send reminder 48 hours before event start"

      = f.select :attire, ['Field Uniform (Class A)', 'Activity Uniform (Class B)', 'Field or Activity Uniform', 'No Uniform, Comfortable Clothing'], {control_col: 'col-md-5'}

      %fieldset
        %legend Signup (RSVP)
        = f.form_group :signup_deadline do
          = f.check_box :signup_required
        = f.text_field :signup_deadline, class: 'datetime-picker', placeholder: 'deadline' , value: @event.signup_deadline.try(:to_formatted_s, :datetimepicker), hide_label: true, control_col: 'col-md-4', append: '<i class="fa fa-calendar"></i>'.html_safe
        = #f.text_field :signup_deadline, class: 'datetime-picker', placeholder: 'deadline' , value: @event.signup_deadline.try(:to_formatted_s, :datetimepicker), append: "<i class=\"fa fa-calendar\"></i>".html_safe, prepend: "#{f.check_box :signup_required, label: ''}".html_safe



      %fieldset
        %legend Location
        = f.text_field :location_name, label: 'Name'
        = f.text_field :location_address1, label: 'Address1'
        = f.text_field :location_address2, label: 'Address2'
        = f.text_field :location_city, label: 'City', control_col: 'col-md-4'
        = f.text_field :location_state, label: 'State', control_col: 'col-md-3'
        = f.text_field :location_zip_code, label: 'Zip', control_col: 'col-md-3'

        = f.url_field :location_map_url, placeholder: 'http://maps.google.com', label: 'Map URL', help: "if you don't enter a map url, the above address will be used to display a map"

    .col-md-3
      .row
        .col-md-11
          = f.select :kind, @unit.event_kinds, {hide_label: true, layout: :default}
          #sub-unit-list{class: @event.sub_unit_kind? ? '' : 'collapse' }
            .well.well-sm
              %strong.large Select #{@unit.sub_unit_name}s in event
              = f.collection_check_boxes :sub_unit_ids, @unit.sub_units.order('name ASC'), :id, :name, hide_label: true, control_col: 'col-md-12'

  .row
    .col-md-12
      %fieldset
        %legend Details
        .col-md-10.col-md-offset-1
          = text_area_tag 'event[message]', @event.message, id: 'ckeditor'
          %br

  .row
    .col-md-9
      = f.form_group do
        = f.primary
        = link_to 'Cancel', @event, class: 'btn btn-default'
