.row
  .col-md-12
    .page-header
      - if controller.action_name == 'new'
        %h2 New Event for #{@unit.name}
      - else
        %h2 Edit Event


= bootstrap_form_for @event do |f|
  = hidden_field_tag :last_unit_meeting_start_at, @last_unit_meeting_start_at.iso8601
  = hidden_field_tag :last_unit_meeting_end_at, @last_unit_meeting_end_at.iso8601
  = hidden_field_tag :orig_start_at, @event.start_at.iso8601
  = hidden_field_tag :orig_end_at, @event.end_at.iso8601
  = hidden_field_tag :new_record, @event.new_record?

  = hidden_field_tag :unit_home_name, @unit.home_name
  = hidden_field_tag :unit_home_address1, @unit.home_address1
  = hidden_field_tag :unit_home_address2, @unit.home_address2
  = hidden_field_tag :unit_home_city, @unit.home_city
  = hidden_field_tag :unit_home_state, @unit.home_state
  = hidden_field_tag :unit_home_zip_code, @unit.home_zip_code
  = hidden_field_tag :unit_home_map_url, @unit.home_map_url



  = hidden_field_tag :unit_id, @unit.id
  = render partial: 'layouts/flash', locals: {flash: flash, ar_object: @event}


  .row
    .col-md-9

      .row
        .col-md-8
          = f.text_field :name, autofocus: true, label: 'Event name'

      .row#date-time-pair
        .col-md-4
          .form-group
            = f.label :start_at, "Starts"
            %br
            = f.text_field_without_bootstrap :start_at_date, class: 'form-control date start date-only-picker', style: "display: inline-block; width: 49%;"
            = f.text_field_without_bootstrap :start_at_time, class: 'form-control time start time-only-picker', style: "display: inline-block; width: 49%;"
        .col-md-1{style: "width: 30px; padding: 33px 0px 0px 0px; text-align: center;"}
          to
        .col-md-4
          .form-group
            = f.label :end_at, "Ends"
            %br
            = f.text_field_without_bootstrap :end_at_time, class: 'form-control time end time-only-picker', style: "display: inline-block; width: 49%;"
            = f.text_field_without_bootstrap :end_at_date, class: 'form-control date end date-only-picker', style: "display: inline-block; width: 49%;"


      .row
        .col-md-4
          = f.select :attire, ['Field Uniform (Class A)', 'Activity Uniform (Class B)', 'Field or Activity Uniform', 'No Uniform, Comfortable Clothing']

      .row
        .col-md-10
          = f.collection_select :user_ids, @unit.adults.by_name_lf, :id, :name_lf, {label: 'Organizers', help: 'allowed to edit and destroy events, signup users, regardless of security level'}, multiple: true


      %fieldset
        %legend Reminder
        = f.check_box :send_reminders, label: "Send reminder 48 hours before event start"


      %fieldset
        %legend Sign Up
        .row
          .col-md-12
            .form-inline
              = f.label :signup_required do
                = f.check_box_without_bootstrap :signup_required
                signup required by

              = #f.label :signup_deadline, "Signup by"

              = f.text_field_without_bootstrap :signup_deadline_date, class: 'form-control date-only-picker', style: "display: inline-block; width: 15%;", disabled: !@event.signup_required

              = f.text_field_without_bootstrap :signup_deadline_time, class: 'form-control time-only-picker', style: "display: inline-block; width: 15%;", disabled: !@event.signup_required

              %span.bg-info.bg-info-sm#deadline-set-info{style: "display: none;"}
                %i.fa.fa-info-circle
                set to 1 hour before start
            .help-block even if date is entered, Signup Required must be checked to be honored

            %br

            .well.well-sm
              %h4 Forms to require when signup required
              = f.label :type_of_health_forms, "Health form", class: 'control-label'
              .form-inline
                = select_tag 'event[type_of_health_forms]', options_for_select(Event.type_of_health_forms_for_select, @event.type_of_health_forms), class: 'form-control'
                %span.fa-stack{data: {toggle: 'tooltip', container: 'body'}, title: 'Selecting the correct type of health forms allows automatic calculation of attendees health form status.'}
                  %i.fa.fa-circle.fa-stack-2x.tooltip_circle
                  %i.fa.fa-question.fa-stack-1x.fa-inverse

              %br
              = f.check_box :consent_required, label: "Activity Consent Forms required"
              = f.collection_select :form_coordinator_ids, @unit.adults.by_name_lf, :id, :name_lf, {label: 'ACF Coordinators', help: 'select adults authorized to accept forms, or leave blank for all adult leaders'}, multiple: true, class: 'form-control'


      %fieldset
        %legend Location
        .row
          .col-md-8
            .form-group
              = f.label :location_name, 'Name', class: 'control-label'
              .input-group
                = f.text_field_without_bootstrap :location_name, class: 'form-control'
                %span.input-group-btn
                  %button.btn.btn-default#copy-unit-home{type: 'button', title: 'copy home location'}
                    %i.fa.fa-home
        .row
          .col-md-8
            = f.text_field :location_address1, label: 'Address1'
            = f.text_field :location_address2, label: 'Address2'
        .row
          .col-md-3
            = f.text_field :location_city, label: 'City'
          .col-md-3
            = f.select :location_state, options_for_select(::UsStates.states_array, @event.location_state), include_blank: 'Select...'
          .col-md-2
            = f.text_field :location_zip_code, label: 'Zip'

        = f.url_field :location_map_url, placeholder: 'http://maps.google.com', label: 'Map URL', help: "if you don't enter a map url, the above address will be used to display a map"

    .col-md-3
      = f.select :kind, @unit.event_kinds, include_blank: 'select the kind of event..'
      #kinds-of-events.collapse{class: @event.new_record? ? 'in' : '' }
        .alert.alert-warning
          %small
            %strong #{@unit.unit_type_title} Meeting:
            regular weekly meeting
            %br
            %strong Camping/Outing:
            when your #{@unit.unit_type_title} goes camping!
            %br
            %strong #{@unit.unit_type_title} Event:
            non-regular event or meeting, not camping
            %br
            %strong #{@unit.sub_unit_name} Event:
            when selected #{@unit.sub_unit_name}s meet
            %strong Adult Leader Event:
            adult leaders, no scouts


      #unit-meeting-kind.collapse
        .alert.alert-info
          %small
            %strong #{@unit.unit_type_title} Meeting
            %br
            We set some sensible defaults:
            %ul
              %li Attire -> uniform
              %li Send reminder -> off
              %li Heath forms -> off
              %li Signup required -> off
              %li ACF required -> off
          %button.btn.btn-default.btn-sm.btn-block#copy-last-unit-meeting{type: 'button'}
            %i.fa.fa-copy
            Copy Last #{@unit.unit_type_title} Meeting Values
          %p.small.centered (+ 1 week)

      #camping-outing-kind.collapse
        .alert.alert-info
          %small
            %strong Camping/Outing
            %br
            We set some sensible defaults:
            %ul
              %li Attire -> t-shirt
              %li Send reminder -> on
              %li Health form -> on
              %li Signup required -> on
              %li ACF required -> on

      #unit-event-kind.collapse
        .alert.alert-info
          %small
            %strong #{@unit.unit_type_title} Event
            %br
            We set some sensible defaults:
            %ul
              %li Attire -> uniform
              %li Send reminder -> on
              %li Health form -> off
              %li Signup required -> off
              %li ACF required -> off

      #adult-leader-kind.collapse
        .alert.alert-info
          %small
            %strong Adult Leader Event
            %br
            We set some sensible defaults:
            %ul
              %li Attire -> casual
              %li Send reminder -> on
              %li Health form -> off
              %li Signup required -> off
              %li ACF required -> off

      #plc-kind.collapse
        .alert.alert-info
          %small
            %strong Patrol Leaders Council (PLC)
            %br
            We set some sensible defaults:
            %ul
              %li Attire -> uniform
              %li Send reminder -> on
              %li Health form -> off
              %li Signup required -> off
              %li ACF required -> off


      #sub-unit-kind.collapse
        .well.well-sm
          %small
            %strong Select #{@unit.sub_unit_name}s for event
            = f.collection_check_boxes :sub_unit_ids, @unit.sub_units.order('name ASC'), :id, :name, hide_label: true

  .row
    .col-md-12
      %fieldset
        %legend Details
        %p.pull-right.ckeditor-button-help Use #{image_tag 'ckeditor_link_button.png'} to attach files. Use #{image_tag 'ckeditor_image_button.png'} to insert images.
        .clearfix
        = f.text_area :message, hide_label: true, id: 'ckeditor'

  .row
    .col-md-9
      = f.primary
      = link_to 'Cancel', @event, class: 'btn btn-default'
