= bootstrap_form_for @event do |f|
  = hidden_field_tag :unit_id, @unit.id
  = render partial: 'layouts/flash', locals: {flash: flash, ar_object: @event}

  .row
    .col-md-12
      .page-header
        .form-inline
          - if controller.action_name == 'new'
            %h2 New Event for #{@unit.name}
          - else
            %h2 Edit Event

  .row
    .col-md-9

      .row
        .col-md-8
          = f.text_field :name, autofocus: true, label: 'Event name'

      .row#date-time-pair
        .col-md-4
          .form-group
            = f.label :start_at, "Starts"
            %br
            = f.text_field_without_bootstrap :start_at_date, class: 'form-control date start date-only-picker', style: "display: inline-block; width: 49%;"
            = f.text_field_without_bootstrap :start_at_time, class: 'form-control time start time-only-picker', style: "display: inline-block; width: 49%;"
        .col-md-1{style: "width: 30px; padding: 33px 0px 0px 0px; text-align: center;"}
          to
        .col-md-4
          .form-group
            = f.label :end_at, "Ends"
            %br
            = f.text_field_without_bootstrap :end_at_time, class: 'form-control time end time-only-picker', style: "display: inline-block; width: 49%;"
            = f.text_field_without_bootstrap :end_at_date, class: 'form-control date end date-only-picker', style: "display: inline-block; width: 49%;"


      .row
        .col-md-4
          = f.select :attire, ['Field Uniform (Class A)', 'Activity Uniform (Class B)', 'Field or Activity Uniform', 'No Uniform, Comfortable Clothing']


      %fieldset
        %legend Signup (RSVP)
        .row
          .col-md-12
            = f.check_box :signup_required
        .row
          .col-md-4
            .form-group
              = f.label :signup_deadline, "Signup by"
              %br
              = f.text_field_without_bootstrap :signup_deadline_date, class: 'form-control date-only-picker', style: "display: inline-block; width: 49%;"
              = f.text_field_without_bootstrap :signup_deadline_time, class: 'form-control time-only-picker', style: "display: inline-block; width: 49%;"
        .row
          .col-md-12
            .help-block even if date is entered, Signup Required must be checked to be honored


      %fieldset
        %legend Reminder
        = f.check_box :send_reminders, label: "Send reminder 48 hours before event start"


      %fieldset
        %legend Forms
        .row
          .col-md-12
            = f.label :type_of_health_forms, "Health form", class: 'control-label'
            .form-inline
              = select_tag 'event[type_of_health_forms]', options_for_select(Event.type_of_health_forms_for_select, @event.type_of_health_forms), class: 'form-control'
              %span.fa-stack{data: {toggle: 'tooltip', container: 'body'}, title: 'Selecting the correct type of health forms allows automatic calculation of attendees health form status.'}
                %i.fa.fa-circle.fa-stack-2x.tooltip_circle
                %i.fa.fa-question.fa-stack-1x.fa-inverse

        %br
        .row
          .col-md-8
            = f.check_box :consent_required, label: "Activity Consent Forms required"
        .row
          .col-md-8
            .well.well-sm
              = f.collection_select :form_coordinator_ids, @unit.adults.by_name_lf, :id, :name_lf, {label: 'ACF Coordinators'}, {multiple: true}
              .help-block select adults authorized to accept forms, or leave blank for all adult leaders




      %fieldset
        %legend Location
        .row
          .col-md-8
            = f.text_field :location_name, label: 'Name'
        .row
          .col-md-6
            = f.text_field :location_address1, label: 'Address1'
            = f.text_field :location_address2, label: 'Address2'
        .row
          .col-md-3
            = f.text_field :location_city, label: 'City'
          .col-md-1
            = f.text_field :location_state, label: 'State'
          .col-md-2
            = f.text_field :location_zip_code, label: 'Zip'

        = f.url_field :location_map_url, placeholder: 'http://maps.google.com', label: 'Map URL', help: "if you don't enter a map url, the address will be used to display a map"

    .col-md-3
      = f.select :kind, @unit.event_kinds
      #sub-unit-list{class: @event.sub_unit_kind? ? '' : 'collapse' }
        .well.well-sm
          %strong.large Select #{@unit.sub_unit_name}s in event
          = f.collection_check_boxes :sub_unit_ids, @unit.sub_units.order('name ASC'), :id, :name, hide_label: true

  .row
    .col-md-12
      %fieldset
        %legend Details
        = f.text_area :message, hide_label: true, id: 'ckeditor'

  .row
    .col-md-9
      = f.primary
      = link_to 'Cancel', @event, class: 'btn btn-default'
