.roster-header
  Roster

  -# we can use use .print_roster? here because it is the same as sms_attendees? and email_attendees?
  - if !event.event_signups.empty? && policy(event).print_roster?
    .pull-right.btn-group
      %a.btn.dropdown-toggle.btn-default.btn-sm{href: '#', data: {toggle: 'dropdown'}, title: 'Actions'}
        %i.fa.fa-gear
        %span.caret
      %ul.dropdown-menu
        - if policy(event).print_roster?
          %li
            = link_to unit_event_path(event.unit, event, print: true) do
              %i.fa.fa-print.text-muted-more
              Print
        - if policy(event).sms_attendees?
          %li
            = link_to sms_attendees_event_path(event) do
              %i.fa.fa-phone.text-muted-more
              SMS all attendees
        - if policy(event).email_attendees?
          %li
            = link_to email_attendees_event_path(event) do
              %i.fa.fa-envelope.text-muted-more
              Email all attendees

%div.clearfix
-# && !event.after_signup_deadline?
- if event.signup_required && policy(event).add_signups?
  #event-signup-add.row
    .col-xs-12
      = select_tag :add_signup, options_from_collection_for_select(event.users_without_signup, :id, :name_lf), data: { 'event-id' => event.id }, id: 'add-event-signup-select', style: "width: 50%;"
      = button_tag 'add', class: 'btn btn-default', id: 'add-event-signup-button'
      %br
      %br


%table.table-condensed.table-striped.table-roster
  %thead
    %tr
      %th{ colspan: '2' } Name
      - if event.health_forms_required?
        %th.centered HF
      %th.centered Driving
      %th.centered Ride
      - if event.consent_required?
        %th.centered ACF
      %th{ colspan: '2' } Info
      - # only disply the actions column if the user can edit OTHER'S signups (admins, event owners)
      -# - if policy(EventSignup.new(event_id: event.id)).update? || policy(EventSignup.new(event_id: event.id)).activity_consent_form?
        -# %th.right-aligned Action
  %tbody#event-signup-roster
    = render partial: 'event_signups/event_roster', collection: event.event_signups.by_user_name_lf

.bottom-border

.row
  .col-xs-3.text-large
    %table.table-xcondensed
      %tr
        %td Scouts:
        %td.right-aligned= event.event_signups.to_a.sum(&:scouts_attending)
      %tr
        %td Adults:
        %td.right-aligned= event.event_signups.to_a.sum(&:adults_attending)
      %tr
        %td Children:
        %td.right-aligned= event.event_signups.to_a.sum(&:siblings_attending)
      %tr
        %td
          %strong Total:
        %td.right-aligned
          %strong= event.attendee_count

