- all_events_count = unit.events.from_today.count
- events = unit.events.from_today.by_start.limit(limit).includes(:sub_units).load

.row-fluid
  .span8
    %div.unit-events-list

      .well{class: unit_well(unit)}
        %p.xlarge
          %strong #{unit.name} Upcoming Events
        - if events.size == 0
          %p
            No future events. Would you like to
            = link_to 'add an event', new_event_path(unit_id: unit.id)
            ?
        - else
          - events.each do |event|
            %p
              = link_to event_list_name(event), event
              - if event.signup_required
                %span.label #{event.attendee_count} going
                %smaller
                  %em signup ends in #{distance_of_time_in_words_to_now(event.signup_deadline)}

          - if all_events_count > events.size
            %em=link_to "show #{show_more_amount(all_events_count, events.size)} more&hellip;".html_safe, unit_events_path(unit, limit: limit+5), remote: true, class: 'btn btn-mini'

  .span4
    .unit-activities.well.well-small
      %ul.unstyled
        - unit.activities.limit(10).each do |activity|
          = render_activity activity
