.page-header
  .pull-right
    .btn-group
      - if policy(Event).new?
        = link_to(new_unit_event_path(@unit), class: "btn btn-default") do
          %i.fa.fa-plus
          New Event

      = link_to '#', data: { toggle: 'modal', target: '#print-event-list'}, class: 'btn btn-default' do
        %i.fa.fa-print
        Print


  %h2 #{@unit.name_unit} Upcoming Events


.row
  .col-md-9
    = render partial: 'layouts/flash', locals: {flash: flash}

    - @events.each do |event|
      = cache ["unit-#{@unit.id}", event] do
        %p
          = render partial: 'event_icon', locals: {event: event}
          = link_to event_list_name(event), unit_event_path(@unit, event)
          - if event.signup_required
            %span.label.label-default #{event.attendee_count} going
            %smaller
              %em signup ends in #{distance_of_time_in_words_to_now(event.signup_deadline)}

    = paginate @events, theme: 'bootstrap'

  .col-md-3
    .panel.panel-default
      .panel-heading #{@unit.unit_type_title} Activity
      .panel-body
        %ul.list-unstyled
          = cache ["unit-#{@unit.id}", @unit.activities.limit(10).first], expires_in: 30.minutes do
            - @unit.activities.limit(10).each do |activity|
              = render_activity activity

.row
  .col-md-10.col-md-offset-1.hidden-xs
    = cache ["unit-#{@unit.id}", :event_index, cache_key_for_pages(@pages)] do
      - @pages.each do |page|
        = cache ["unit-#{@unit.id}", :event_index,  page] do
          .panel.panel-default
            .panel-heading
              .panel-title= page.title
            .panel-body= page.body.html_safe
            .panel-footer
              .small Last changed: #{page.updated_at.to_s(:short_ampm)}
              - if policy(page).edit?
                = link_to 'edit', edit_unit_page_path(@unit, page), class: 'small'
                %span.small= '|'
                = link_to 'reorder', unit_pages_path(@unit), class: 'small'


.modal.fade#print-event-list
  .modal-dialog
    .modal-content
      = form_tag unit_events_path(@unit), method: :get do
        .modal-header
          %h4.modal-title Print List of Events

        .modal-body
          .form-group
            = label_tag :months, 'Events From Today Until...'
            = select_tag :months, options_for_select({ 'End of This Month' => '0', '+1 Month' => '1', '+2 Months' => '2', '+3 Months' => '3', '+4 Months' => '4', '+5 Months' => '5', '+6 Months' => '6' }), class: 'form-control'

          %p &nbsp;
          %p This will display a page you can print with a list of events (no attendees). This is suitable for a PLC or Committee meeting.
          %p
            %strong Only #{ @unit.unit_type_title } events, camping, PLC and #{ @unit.sub_unit_name } events will print. Adult/leader events will not be displayed.

        .modal-footer
          = button_tag 'Cancel', type: 'button', data: { dismiss: 'modal' }, class: 'btn btn-default'
          = submit_tag 'Print', class: 'btn btn-success'
