.row
  .col-md-12
    %br
    %form.form-inline
      .form-group
        .input-group
          %span.input-group-addon
            %i.fa.fa-search
          = search_field_tag :search_meta, '', class: 'form-control search-meta', placeholder: 'search', autofocus: true


.row
  .col-md-12
    .page-header
      .pull-right
        - if policy(Event).new?
          = link_to(new_unit_event_path(@unit), class: "btn btn-success") do
            %i.fa.fa-plus
            new event

      %h2 #{@unit.name_unit} Upcoming Events




.row
  .col-md-9
    = render partial: 'layouts/flash', locals: {flash: flash}

    - @events.each do |event|
      = cache ["unit-#{@unit.id}", event] do
        %p
          = link_to event_list_name(event), unit_event_path(@unit, event)
          - if event.signup_required
            %span.label.label-default #{event.attendee_count} going
            %smaller
              %em signup ends in #{distance_of_time_in_words_to_now(event.signup_deadline)}

    = paginate @events, theme: 'bootstrap'

  .col-md-3
    .panel.panel-default
      .panel-heading #{@unit.unit_type_title} Activity
      .panel-body
        %ul.list-unstyled
          = cache [@unit, @unit.activities.limit(10).first] do
            - @unit.activities.limit(10).each do |activity|
              = render_activity activity

.row
  .col-md-10.col-md-offset-1.hidden-xs
    = cache ["unit-#{@unit.id}", :event_index, cache_key_for_pages(@pages)] do
      - @pages.each do |page|
        = cache ["unit-#{@unit.id}", :event_index,  page] do
          .panel.panel-default
            .panel-heading
              .panel-title= page.title
            .panel-body= page.body.html_safe
            .panel-footer
              .small Last changed: #{page.updated_at.to_s(:short_ampm)}
              - if policy(page).edit?
                = link_to 'edit', edit_unit_page_path(@unit, page), class: 'small'
                %span.small= '|'
                = link_to 'reorder', unit_pages_path(@unit), class: 'small'
