.row-fluid
  .span12
    .page-header
      .pull-right
        = link_to(new_event_path, class: "btn btn-success") do
          %i.icon-plus
          new event

      %h2 Events


.row-fluid
  .span12
    %table.table
      %tr
        %th Kind
        %th Name
        %th Start
        %th End
        %th Signup required

      - @events.each do |event|
        %tr
          %td= event.kind
          %td= event.name
          %td= event.start_at.to_s(:short_ampm)
          %td= event.end_at.to_s(:short_ampm)
          %td= event.signup_required
          %td= link_to 'Show', event
          %td= link_to 'Edit', edit_event_path(event)
          %td= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete

.row-fluid
  .span12
    #calendar
