.row-fluid
  .span12
    .page-header
      .pull-right
        = link_to(edit_event_path(@event), class: 'btn') do
          %i.icon-edit
          change
        = link_to(new_event_path, class: "btn btn-success") do
          %i.icon-plus
          new event

      %h2 #{@event.name} - #{@event.organization.name}


.row-fluid
  .span8
    .text-xlarge
      %table.table
        %tr
          %td
            %strong Kind
          %td= @event.kind

        %tr
          %td
            %strong Times
          %td #{@event.start_at.to_s(:short_ampm)} - #{@event.start_at.to_s(:short_ampm)}

        %tr
          %td
            %strong Organizer
          %td= @event.users.map(&:full_name).split(', ') unless @event.users.blank?

        %tr
          %td
            %strong RSVP
          %td #{@event.signup_required ? "required, by #{@event.signup_deadline.to_s(:short_ampm)}" : 'not required'}

        %tr
          %td
            %strong Reminders?
          %td #{@event.send_reminders ? 'Yes' : 'No'}

          %tr
            %td
              %strong Attire
            %td= @event.attire

        %tr
          %td
            %strong Location
          %td
            %address= location_show(@event)

          %tr
            %td &nbsp;
            %td= @event.message.html_safe
