= #content_for(:scripts) {javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true"}
.row
  .col-md-12
    .page-header
      .pull-right
        .btn-group
          = link_to unit_events_path(@unit), class: 'btn btn-default' do
            %i.fa.fa-reply
            Event List

          - if policy(@event).update?
            = link_to edit_unit_event_path(@unit, @event), class: 'btn btn-default' do
              %i.fa.fa-edit
              Edit

          %a.btn.dropdown-toggle.btn-warning{href: '#', data: {toggle: 'dropdown'}}
            %i.fa.fa-gear
            Actions
            %span.caret
          %ul.dropdown-menu.pull-right
            - if policy(@event).destroy?
              %li
                = link_to(unit_event_path(@unit, @event), method: :delete, data: {confirm: 'Are you sure?'}) do
                  %i.fa.fa-trash-o
                  Destroy Event

            - if policy(Event).new?
              %li
                = link_to new_unit_event_path(@unit) do
                  %i.fa.fa-plus
                  New Event

      %h2= @event.name


.row
  .col-md-8
    #event-signup-flash
      = render partial: 'layouts/flash', locals: {flash: flash, ar_object: @event_signup}
    - if @event.ical.present?
      .pull-right
        = link_to @event.ical.url, class: 'btn btn-default btn-xs' do
          %i.fa.fa-calendar
          ical file

    %p &nbsp;
    .text-xlarge
      %table.table
        %tr
          %td
            %strong Kind
          %td
            = @event.kind
            = " - #{event_kind_sub_units(@event)}" if @event.sub_unit_kind?

        %tr
          %td
            %strong Times
          %td #{@event.start_at.to_s(:short_ampm)} - #{@event.end_at.to_s(:short_ampm)}

        %tr
          %td
            %strong Organizer
          %td
            - @event.users.each do |user|
              = link_to user.full_name, unit_user_path(@unit, user.id)

        %tr
          %td
            %strong RSVP
          %td #{@event.signup_required ? "required, by #{@event.signup_deadline.to_s(:short_ampm)}" : 'not required'}

        %tr
          %td
            %strong Reminders?
          %td #{@event.send_reminders ? 'Yes' : 'No'}

          %tr
            %td
              %strong Attire
            %td= @event.attire

          %tr
            %td
              %strong Health&nbsp;Forms
            %td= Event.type_of_health_forms_for_select.key(@event.type_of_health_forms)

        %tr
          %td
            %strong Location
          %td
            %address= location_show(@event)
            - if @event.location_map_url.blank?
              = #gmaps(map_options: {zoom: 13, auto_zoom: false}, markers: {data: @event.to_gmaps4rails})
              #gmap.map_container{style: "width: 100%; height: 300px;", data: {address: @event.gmaps4rails_address}}
            - else
              .iframe-rwd
                %iframe{src: location_map_url_iframe(@event), frameborder: "0", width: "300", height: "300", scrolling: "no", marginheight: "0", marginwidth: "0"}

          %tr
            %td &nbsp;
            %td= @event.message.html_safe

      - if @event.signup_required
        %div{style: "border-bottom: 1px solid lightgray; margin-bottom: 12px;"}
        %strong Roster
        - unless @event_rosters.empty?
          .pull-right
            - if policy(@event).sms_attendees?
              = link_to sms_attendees_event_path(@event), class: 'btn btn-default btn-sm' do
                %i.fa.fa-phone
                SMS all attendees
            - if policy(@event).email_attendees?
              = link_to email_attendees_event_path(@event), class: 'btn btn-default btn-sm' do
                %i.fa.fa-envelope
                Email all attendees
        %div.clearfix
        - if policy(@event).add_signups? && @event.signup_required && !@event.after_signup_deadline?
          %p#event-signup-add
            = render partial: 'event_signups/signup_add', locals: { event: @event }

        %table.table-condensed.table-striped.table-roster#event-signup-roster
          = render partial: 'event_signups/event_roster', collection: @event_rosters
          - #@event.event_signups.includes(:scout).each do |signup|


  .col-md-4
    - if @event.signup_required && !@event.after_signup_deadline?
      #event-signups-list
        = render partial: 'event_signups/event_signup', collection: @event_signups, locals: {event: @event}
    - else
      - if @event.signup_required
        .alert.alert-info Signup has passed for this event.

#event-signup-modal
