.page-header
  .row
    .col-md-7
      %table.table.table-borderless{ style: "margin-bottom: 0;" }
        %tr
          %td{ style: "font-size: 36px; font-weight: 500;padding: 0;line-height: 1;width: 50px;" }= render partial: 'event_icon', locals: {event: @event}
          %td{ style: "padding: 0 0 8px 8px;" }
            %span{ style: "font-size: 30px; font-weight: 500;line-height: 1;" }= @event.name
            %br
            .text-grey= @event.kind


    .col-md-5.right-aligned
      .btn-group
        = link_to unit_events_path(@unit), class: 'btn btn-default' do
          %i.fa.fa-reply.hidden-xs
          Event List

        - if policy(@event).update?
          = link_to edit_unit_event_path(@unit, @event), class: 'btn btn-default' do
            %i.fa.fa-edit.hidden-xs
            Edit

        - if policy(@event).destroy? || policy(Event).new?
          %a.btn.dropdown-toggle.btn-default{href: '#', data: {toggle: 'dropdown'}, title: 'Actions'}
            %i.fa.fa-gear
            %span.caret
          %ul.dropdown-menu.pull-right
            %li
              = link_to unit_event_path(@unit, @event, print: true) do
                %i.fa.fa-print.text-muted-more
                Print

            - if @event.ical.present?
              %li
                = link_to @event.ical.url do
                  %i.fa.fa-calendar.text-muted-more
                  Add to My Calendar

            - if policy(@event).destroy?
              %li
                = link_to(unit_event_path(@unit, @event), method: :delete, data: {confirm: 'Are you sure?'}) do
                  %i.fa.fa-trash-o.text-muted-more
                  Destroy Event

            - if policy(Event).new?
              %li
                = link_to new_unit_event_path(@unit) do
                  %i.fa.fa-plus.text-muted-more
                  New Event

.row
  .col-md-4.col-md-push-8
    - if @event.signup_required #&& !@event.after_signup_deadline?
      - if @event.after_signup_deadline?
        - if policy(@event).add_signups?
          .alert.alert-danger.alert-sm Signup has passed. But you can edit signups because you are an admin or event organizer.

        - elsif @event.user_has_signup?(current_user)
          .alert.alert-info Signup has passed for thie event. You can cancel your signup, but you can not add any new signups.

        - else
          .alert.alert-info Signup has passed for this event.

      - if !@event.after_signup_deadline? || policy(@event).add_signups? || @event.user_has_signup?(current_user)
        #event-quick-signup
          = render partial: 'event_signups/quick_signup', locals: { event: @event }


        .panel.panel-info
          .panel-heading
            %h4.panel-title
              %a#signups-accordian-button{ href: '#signups-accordian', data: { toggle: 'collapse' } } Show Signup Details
          #signups-accordian.collapse.panel-collapse
            .panel-body
              #event-signups-list= render partial: 'event_signups/event_signup', collection: @event.user_signups(current_user), locals: {event: @event}



  .col-md-8.col-md-pull-4
    #event-signup-flash
      = render partial: 'layouts/flash', locals: {flash: flash, ar_object: @event_signup}


    .text-xlarge
      - if @event.sub_unit_kind?
        .row.row-tablized
          .col-md-3
            %strong= @unit.sub_unit_name.pluralize
          .col-md-9
            = event_kind_sub_units(@event)

      .row.row-tablized
        .col-md-3
          %strong Times
        .col-md-9
          - if @event.ical.present?
            .pull-right
              = link_to @event.ical.url, class: '', title: 'Add to My Calendar' do
                +
                %i.fa.fa-calendar.fa-lg
          = Google::TimeDisplay.new(@event.start_at, @event.end_at).to_s
          -# %span.text-nobreak= @event.start_at.to_s(:long_ampm)
          -# = '-'
          -# %span.text-nobreak= @event.end_at.to_s(:long_ampm)


      .row.row-tablized
        .col-md-3
          %strong Organizers
        .col-md-9= unit_users_link_list(@unit, @event.users.by_name_lf)

      .row.row-tablized
        .col-md-3
          %strong Reminders?
        .col-md-9 #{@event.send_reminders ? 'Yes' : 'No'}

      .row.row-tablized
        .col-md-3
          %strong Sign Up
        .col-md-9= @event.signup_required ? "by #{Google::TimeDisplay.new(@event.signup_deadline)}" : 'Not required'


      - if @event.signup_required? || @event.consent_required?
        .row.row-tablized
          .col-md-3
            %strong Forms
          .col-md-9
            - if @event.health_forms_required?
              %span.fa-stack.fa-stack-sm
                %i.fa.fa-circle.fa-stack-2x.fa-stack-gray
                %i.fa.fa-inverse.fa-medkit.fa-stack-1x
            - else
              %span.fa-stack.fa-stack-sm
                %i.fa.fa-medkit.fa-stack-1x
                %i.fa.fa-ban.fa-stack-2x.text-danger
            Healh Forms: #{Event.type_of_health_forms_for_select.key(@event.type_of_health_forms)}

            %br
            - if @event.consent_required?
              %span.fa-stack.fa-stack-sm
                %i.fa.fa-circle.fa-stack-2x.fa-stack-gray
                %i.fa.fa-inverse.fa-thumbs-up.fa-stack-1x
            - else
              %span.fa-stack.fa-stack-sm
                %i.fa.fa-thumbs-up.fa-stack-1x
                %i.fa.fa-ban.fa-stack-2x.text-danger
            Activity Consent: #{@event.consent_required ? '<em>required</em>'.html_safe : 'Not required'}

            - if @event.consent_required?
              - if @unit.attach_consent_form?
                %br
                = link_to consent_form_url(@event) do
                  %i.fa.fa-download
                  Download Consent Form


              %p.small
                Coordinator#{'s' if @event.form_coordinators.count > 1 }:
                = @event.has_form_coordinators ? unit_users_link_list(@unit, @event.form_coordinators) : 'all adult leaders'

      .row.row-tablized
        .col-md-3
          %strong Attire
        .col-md-9= @event.attire

      .row.row-tablized
        .col-md-3
          %strong Location
        .col-md-9
          %address= location_show(@event)

          - unless @event.gmaps4rails_address.blank?
            = #gmaps(map_options: {zoom: 13, auto_zoom: false}, markers: {data: @event.to_gmaps4rails})
            #gmap.map_container{style: "width: 100%; height: 300px;", data: {address: @event.gmaps4rails_address}}

          - unless @event.location_map_url.blank?
            %br
            %p
              = link_to(@event.location_map_url, target: '_blank') do
                %i.fa.fa-external-link
                Show map...

          -#   .iframe-rwd
          -#     %iframe{src: location_map_url_iframe(@event), frameborder: "0", width: "300", height: "300", scrolling: "no", marginheight: "0", marginwidth: "0"}

      .row.row-tablized
        .col-md-3 &nbsp;
        .col-md-9= @event.message.html_safe

      - unless @event.email_messages.order(:updated_at).empty?
        .row.row-tablized
          .col-md-3
            %strong Emails
          .col-md-9.text-small
            - @event.email_messages.order(:updated_at).each do |email_message|
              = link_to email_message_date_subject(email_message), unit_email_message_path(@unit, email_message)
              %br


    - if @event.signup_required
      .bottom-border
      #event-roster
        = render partial: 'roster', locals: { event: @event }


#event-signup-modal
