/ Navigation
%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      .scouttin-logo{href: "#page-top"}
        .compass-logo
          %span.fa-stack.fa-lg
            %i.fa.fa-stack-2x.fa-map-marker.marker
            %i.fa.fa-stack-compass.fa-compass.compass
        .scouttin-name
          Scoutt.in

    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.hidden
          %a{href: "#page-top"}
        %li
          %a.page-scroll{href: "http://blog.scoutt.in"} Blog
        %li
          %a.page-scroll{href: "#features"} Features
        %li
          %a.page-scroll{href: "#portfolio"} Gallery
        %li
          %a.page-scroll{href: "#about"} About
        %li
          -# = link_to 'Sign up', '#', class: 'btn btn-info'
          %a.page-scroll.btn.btn-info{href: "#signup"} Sign up
        %li
          = link_to 'Sign in', new_user_session_url, class: 'btn btn-success'



/ Header
%header
  .container

    .intro-text
      .scouttin-logo.scouttin-logo-white.scouttin-logo-lg
        .compass-logo
          %span.fa-stack.fa-lg
            %i.fa.fa-stack-2x.fa-map-marker.marker
            %i.fa.fa-stack-compass.fa-compass.compass
        .scouttin-name Scoutt.in
      %h1 &nbsp;
      %h1 &nbsp;
      %h1 &nbsp;
      .intro-heading Manage your Troop, Den or Crew with ease
      %h1 &nbsp;
      %a.page-scroll.btn.btn-xl{href: "#features"} Tell Me More


/ Features Section
%section#features.bg-light-gray
  .container-fluid
    .row
      .col-lg-12.text-center
        %h2.section-heading Features
        -# %h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.

    .row.text-center
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-calendar.fa-stack-1x.fa-inverse
        %h4.service-heading Events
        %h3
        %p.text-muted Troop meetings, Den meetings, outings. Easily manage your events and keep your unit informed with reminders and text messages.

      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-mobile.fa-stack-1x.fa-inverse
        %h4.service-heading Mobile
        %p.text-muted Built for your mobile devices from the ground up. Pinching and zooming is for nerds. Enjoy text you can read, maps you can see, and forms you can enter.

      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-flag-checkered.fa-stack-1x.fa-inverse
        %h4.service-heading Fast
        %p.text-muted We know how to build websites, and how to make and keep them fast. Get into Scoutt.in and, get what you want, and get outside!


/ Portfolio Grid Section
%section#gallery#portfolio
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Gallery
        -# %h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
    .row
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", href: "#portfolioModal1"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-search-plus.fa-3x
          = image_tag 'landing/event-thumb.png', class: 'img-responsive'
        .portfolio-caption
          %h4 Events
          %p.text-muted Signup on the Event page

      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", href: "#portfolioModal2"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-search-plus.fa-3x
          = image_tag 'landing/search-thumb.png', class: 'img-responsive'
        .portfolio-caption
          %h4 Search Everything
          %p.text-muted One easy search does it all

      -# .col-md-4.col-sm-6.portfolio-item
      -#   %a.portfolio-link{"data-toggle" => "modal", href: "#portfolioModal3"}
      -#     .portfolio-hover
      -#       .portfolio-hover-content
      -#         %i.fa.fa-plus.fa-3x
      -#     -# %img.img-responsive{:alt => "", :src => "img/portfolio/treehouse.png"}
      -#   .portfolio-caption
      -#     %h4 Treehouse
      -#     %p.text-muted Website Design

      -# .col-md-4.col-sm-6.portfolio-item
      -#   %a.portfolio-link{"data-toggle" => "modal", href: "#portfolioModal4"}
      -#     .portfolio-hover
      -#       .portfolio-hover-content
      -#         %i.fa.fa-plus.fa-3x
      -#     -# %img.img-responsive{:alt => "", :src => "img/portfolio/golden.png"}
      -#   .portfolio-caption
      -#     %h4 Golden
      -#     %p.text-muted Website Design

      -# .col-md-4.col-sm-6.portfolio-item
      -#   %a.portfolio-link{"data-toggle" => "modal", href: "#portfolioModal5"}
      -#     .portfolio-hover
      -#       .portfolio-hover-content
      -#         %i.fa.fa-plus.fa-3x
      -#     -# %img.img-responsive{:alt => "", :src => "img/portfolio/escape.png"}
      -#   .portfolio-caption
      -#     %h4 Escape
      -#     %p.text-muted Website Design

      -# .col-md-4.col-sm-6.portfolio-item
      -#   %a.portfolio-link{"data-toggle" => "modal", href: "#portfolioModal6"}
      -#     .portfolio-hover
      -#       .portfolio-hover-content
      -#         %i.fa.fa-plus.fa-3x
      -#     -# %img.img-responsive{:alt => "", :src => "img/portfolio/dreams.png"}
      -#   .portfolio-caption
      -#     %h4 Dreams
      -#     %p.text-muted Website Design


%section#more.bg-light-gray
  .container-fluid
    .row
      .col-lg-12.text-center
        %h2.section-heading More

  .container-fluid
    .row
      .col-md-4
        .action-section
          %i.text-primary.fa.fa-mobile.fa-2x
          %h4 Easy Messaging
          %p Send emails or text messages only to those who are attending an event... with just one click.

      .col-md-4
        .action-section
          %i.fa.fa-desktop.fa-2x
          %h4 Import from Scoutlander
          %p Import all your Scouts, adults, events, and more. Users will have to generate a new password for their account. But don't worry, we'll walk you through everything step-by-step.

      .col-md-4
        .action-section
          %i.fa.fa-medkit.fa-2x
          %h4 Health Forms
          %p Just enter the date your health forms were signed, Scoutt.in will do the rest. Automatically show if a Scout needs a new health form for a particular event. Also shows you the status of all adults and Scouts in your unit.

      .col-md-4
        .action-section
          %i.fa.fa-list-ol.fa-2x
          %h4 Event Rosters
          %p Would like a list of all the Scouts attending your event? With emergency contact info? Health form status? Activity consent form status? Print it or checkit online. Everything you need to know on one page.

      .col-md-4
        .action-section
          %i.fa.fa-car.fa-2x
          %h4 Carpools
          %p Quicky see who has seats and who needs a ride.

      .col-md-4

-# / About Section
-# %section#about
-#   .container-fluid
-#     .row
-#       .col-lg-12.text-center
-#         %h2.section-heading Features
-#         -# %h3.section-subheading.text-muted final itinerary is not complete, but here is what we did last year
-#     .row
-#       .col-lg-12
-#         %ul.timeline
-#           %li
-#             .timeline-image
-#               -# %img.img-circle.img-responsive{alt: "", src: "images/about/boston.jpg"}
-#             .timeline-panel
-#               .timeline-heading
-#                 %h4 Boston, MA
-#                 %h4.subheading Fly into Beantown
-#               .timeline-body
-#                 %p.text-muted Faneuil Hall, Fenway Park, Bostom Common, Harvard & MIT. What more will the home of Paul Revere have to discover.

-#           %li.timeline-inverted
-#             .timeline-image
-#               -# %img.img-circle.img-responsive{alt: "", src: "images/about/nyc.jpg"}
-#             .timeline-panel
-#               .timeline-heading
-#                 %h4 New York City, NY
-#                 %h4.subheading The Big Apple
-#               .timeline-body
-#                 %p.text-muted No city does it bigger or better than Gotham. We'll see Times Square...

-#           %li
-#             .timeline-image
-#               -# %img.img-circle.img-responsive{alt: "", src: "images/about/philly.jpg"}
-#             .timeline-panel
-#               .timeline-heading
-#                 %h4 Philadelphia, PA
-#                 %h4.subheading The City of Brothery Love
-#               .timeline-body
-#                 %p.text-muted The Liberty Bell, Independance Hall, Philadelphia Museum of Art, or the haunted Eastern State Penitentiary. See what the cradle of libery holds for us. Cheese Steaks, oh yeah!

-#           %li.timeline-inverted
-#             .timeline-image
-#               -# %img.img-circle.img-responsive{alt: "", src: "images/about/dc.jpg"}
-#             .timeline-panel
-#               .timeline-heading
-#                 %h4 Washington, DC
-#                 %h4.subheading Our nation's Capitol
-#               .timeline-body
-#                 %p.text-muted The US Capitol, White House, Smithsonial Institution, National Air and Space Museum, or the International Spy Museum. There is more to do in DC than you can shake a stick at.

-#           %li
-#             .timeline-image
-#               -# %img.img-circle.img-responsive{alt: "", src: "images/about/summit.jpg"}
-#             .timeline-panel
-#               .timeline-heading
-#                 %h4 Glen Jean, WV
-#                 %h4.subheading Summit Bechtel Reserve
-#               .timeline-body
-#                 %p.text-muted 10 days camping and taking in all that the Summer has to offfer. And boy is there a lot you can do!

-#           %li.timeline-inverted
-#             .timeline-image
-#               %h4
-#                 Join
-#                 %br
-#                 Troop
-#                 %br
-#                 Five!



-# %section
-#   .container-fluid
-#     .row
-#       .col-lg-12.text-center
-#         .scouttin-logo.scouttin-logo-blue{style: "font-size: 16em;"}
-#           .compass-logo
-#             %span.fa-stack.fa-lg
-#               %i.fa.fa-stack-2x.fa-map-marker.marker
-#               %i.fa.fa-stack-compass.fa-compass.compass


%section#about
  .container-fluid
    .row
      .col-lg-12.text-center
        .scouttin-logo.scouttin-logo-blue.scouttin-logo-xl
          .compass-logo
            %span.fa-stack.fa-lg
              %i.fa.fa-stack-2x.fa-map-marker.marker
              %i.fa.fa-stack-compass.fa-compass.compass
        %h2.section-heading About Scoutt.in
        -# %h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.

    .row
      .col-sm-8.col-sm-offset-2
        .team-member

          -# %img.img-responsive.img-circle{alt: "", src: "images/team/1.jpg"}
          = #image_tag 'landing/bsa_logo.gif', class: 'img-responsive img-large'
          -# %i.fa.fa-user{style: "font-size: 238px;"}
          -# %h4 Brian Cook
          -# %p.text-muted Scoutmaster
          %p Scoutt.in grew out of the need of BS Troop 603 to manage Scouts and their activities, using modern technology, keeping things simple and efficient. Developed by a Scoutmaster and long time Scouter, who just happens to engineer web sites for a living.
          %p Scoutt.in was built from the top, down, with speed, security, but most importantly ease-of-use. Face it, if if a web site is not easy to use, you won't use it.



%section.bg-light-gray#signup
  .container-fluid
    .row
      .col-lg-12.text-center
        %h2.section-heading
          Get Started
          %strike Now
          Soon
        -# %h3.section-subheading.text-primary It's 100% Free
        -# = link_to 'Sign Up Available Soon', '#', class: 'btn btn-xl'
        %p Scoutt.in is almost ready for everyone to join. But first, we need a few Troops, Packs, or Crews to kick the tires and let us know what they like, and changes they would like to see.
        %p Subscribe to our announcement list and we will let you know when all is good and ready!
        %h2 &nbsp;
    .row
      .col-lg-6.col-lg-offset-3
        = render 'signup'



%footer{style: "background-color: #003366; color: #777;"}
  .container-fluid
    .row
      .col-md-12
        .pull-right
          %span.copyright Copyright &copy; Desert Solitaire, LLC 2014
          %br
          %small Scoutt.in is not affiliated with BSA

        %small connect with Scoutt.in
        %br
        = link_to 'http://blog.scoutt.in' do
          %span.fa-stack.fa-lg
            %i.fa.fa-square.fa-stack-2x.rss-orange
            %i.fa.fa-rss.fa-stack-1x.fa-inverse

        = link_to 'https://twitter.com/ScouttInBlog' do
          %span.fa-stack.fa-lg
            %i.fa.fa-square.fa-stack-2x.twitter-blue
            %i.fa.fa-twitter.fa-stack-1x.fa-inverse

        = link_to 'https://www.facebook.com/pages/Scouttin/576276159173793' do
          %span.fa-stack.fa-lg
            %i.fa.fa-square.fa-stack-2x.facebook-blue
            %i.fa.fa-facebook.fa-stack-1x.fa-inverse
        %br


/ Portfolio Modals
/ Use the modals below to showcase details about your portfolio projects!
/ Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Events
            %p.item-intro.text-muted All you need to know in one easy page.
            = image_tag 'landing/event.png', class: 'img-responsive'
            %p Get the important information, including live maps, all in one page.
            %p
              %strong Even better, you can signup your Scout and family members with just one click!
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close

/ Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Search Everything
            %p.item-intro.text-muted Get to the info you need, quickly.
            = image_tag 'landing/search.png', class: 'img-responsive'
            %p Just enter a few letters and Scoutt.in will do the searching for you.
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close
