= form_for @email_message, url: unit_email_messages_path(@unit), html: {multipart: true} do |f|
  = render partial: 'layouts/flash', locals: {flash: flash, ar_object: @email_message}

  %fieldset
    %legend Send to
    .row-fluid
      .span4.offset1
        = f.select :send_to_option, EmailMessage.send_to_options(@unit), {}, {class: 'span12'}
      .span7
        #email-sub-unit-list.collapse{ class: ('in' if @email_message.send_to_sub_units?) }
          .well.well-small
            %ul.unstyled
              - @unit.sub_units.order('name ASC').each do |sub_unit|
                %li
                  = f.label :sub_unit, class: 'checkbox sub-unit', data: {'original-title' => sub_unit_emails(sub_unit)} do
                    = check_box_tag 'email_message[sub_unit_ids][]', sub_unit.id, @email_message.sub_unit_ids.include?(sub_unit.id.to_s)
                    %strong= sub_unit.name
                    %smaller.text-grey= sub_unit_emails(sub_unit)

        #email-send-to-users-list.collapse{ class: ('in' if @email_message.send_to_users?) }
          .well.well-small
            = f.collection_select :user_ids, @unit.users.with_email.by_name_lf, :id, :name_lf, {}, {multiple: true, class: '', style: "width: 100%;"}

  %fieldset
    %legend Events
    .row-fluid
      .span11.offset1
        %p Selected events will have links at the bottom of the message
        .well.email-message-events
          - @unit.events.from_today.by_start.each do |event|
            = f.label :event_ids, class: 'checkbox' do
              = check_box_tag 'email_message[event_ids][]', event.id
              = event_list_name(event)


  %fieldset
    %legend Attachments
    .row-fluid
      .span11.offset1
        %strong Attach up to 4 files, total size should not exceed 2MB
        = f.fields_for :email_attachments do |f_attachment|
          .well.well-thin
            %p= f_attachment.file_field :attachment
        .help-block alowed attachments: jpg jpeg gif png pdf doc xls docx xls xlsx xlsb rtf odf ppt txt csv

  %fieldset
    %legend Message
    .row-fluid
      .span11.offset1
        %p from: #{current_user.email}
        %p= f.text_field :subject, class: 'span12', placeholder: 'subject'
        %p= f.text_area :message, class: 'span12 ckeditor', placeholder: 'your message - style, add pictures, and links'

  .form-actions
    = f.submit class: 'btn btn-primary'
    = link_to 'Cancel', unit_email_messages_path(@unit), class: 'btn'
