.page-header
  .row
    .col-md-6
      %h2 Email Message

    .col-md-6.right-aligned
      .btn-group
        = link_to unit_email_messages_path(@unit), class: 'btn btn-default' do
          %i.fa.fa-reply.hidden-xs
          Sent Emails

        - if policy(EmailMessage).create?
          = link_to new_unit_email_message_path(@unit), class: 'btn btn-default' do
            %i.fa.fa-plus.hidden-xs
            New Email Blast

        - if @email_message.sent_at.nil? && @email_message.active? && policy(@email_message).destroy?
          = link_to unit_email_message_path(@unit, @email_message), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do
            %i.fa.fa-trash
            Cancel Sending


.row
  .col-md-12
    = render partial: 'layouts/flash', locals: {flash: flash, ar_object: @email_message}

    .text-xlarge
      %table.table
        %tr
          %td
            %strong Subject
          %td= @email_message.subject

        %tr
          %td
            %strong From
          %td= @email_message.sender.name_email

        %tr
          %td
            %strong Recipients
          %td
            %span.badge= @email_message.sent_to_count
            = @email_message.send_to
            - if @email_message.send_to_option == 3
              (
              %small>
                %em>= @email_message.sub_units.map(&:name).join(', ')
              )

            %br
            #sent-to-details
              %p= unit_users_link_list(@email_message.unit, @email_message.sent_to)
            %p.small
              = link_to unit_email_message_path(@unit, @email_message), remote: true, id: 'details-reveal' do
                %i.fa.fa-caret-square-o-right
                show details...

        %tr
          %td
            %strong Sent
          %td
            - if @email_message.sent_at
              = @email_message.sent_at.to_s(:long_ampm)
            - elsif @email_message.deactivated?
              sending cancelled at #{ @email_message.deactivated_at.to_s(:long_ampm) }
            - else
              currently in queue

        %tr
          %td
            %strong Events
          %td
            - if @email_message.events.size > 0
              - @email_message.events.each do |event|
                %p= link_to event_list_name(event), unit_event_path(@unit, event)
            - else
              %em none selected

        %tr
          %td
            %strong Attachments*
          %td
            - @email_message.email_attachments.each do |email_attachment|
              = link_to email_attachment.original_file_name, email_attachment.attachment.url, target: '_blank'
              %br

        %tr
          %td
            %strong Message
          %td
            .show-message= @email_message.message.html_safe
    %small.text-muted * attachments are saved for 6 months, then deleted
