= render partial: 'layouts/flash', locals: {flash: flash}

%h3 #{@event_signup.user.f_name_l_initial} is signed up for:
%table.table.table-condensed
  %tr
    %th Event:
    %td
      - if user_signed_in?
        = link_to event_name_date(@event), @event
      - else
        = event_name_date(@event)

  - if @event_signup.user.adult?
    %tr
      %th Additional Children:
      %td= @event_signup.siblings_attending

  %tr
    %th Comment:
    %td= @event_signup.comment
