= render partial: 'layouts/flash', locals: {flash: flash}

%h3 #{@event_signup.scout.f_name_l_initial} is signed up for:
%table.table.table-condensed
  %tr
    %th Event:
    %td
      - if user_signed_in?
        = link_to event_name_date(@event), @event
      - else
        = event_name_date(@event)

  %tr
    %th Scouts:
    %td
      = @event_signup.scouts_attending
      (#{@event_signup.scout.first_name})

  %tr
    %th Adults:
    %td= @event_signup.adults_attending

  %tr
    %th Siblings:
    %td= @event_signup.siblings_attending

  %tr
    %th Comment:
    %td= @event_signup.comment
