.page-header
  - if controller.action_name == 'new'
    %h2 New Page for #{@unit.name}
  - else
    %h2 Edit Page

= bootstrap_form_for [@unit, @page] do |f|
  = hidden_field_tag :unit_id, @unit.id
  = render partial: 'layouts/flash', locals: {flash: flash, ar_object: @page}

  .row
    .col-md-4
      = f.text_field :title, autofocus: true, help: 'less than 48 characters'

  = f.check_box :public
  .help-block public pages can be seen by anyone without login

  = f.check_box :front_page
  .help-block front pages will be shown below your unit home page, but not on mobile devices

  %fieldset
    %legend Body
    %p.pull-right.ckeditor-button-help Use #{image_tag 'ckeditor_link_button.png'} to attach files. Use #{image_tag 'ckeditor_image_button.png'} to insert images.
    .clearfix
    = f.text_area :body, id: 'ckeditor', help: 'you can change the order in which pages appear after you save this page', hide_label: true

  %br
  = f.primary
  = link_to 'Cancel', unit_pages_path(@unit), class: 'btn btn-default'

