.page-header
  .row
    .col-md-8
      %h2 Page: #{@page.title}

    .col-md-4.right-aligned
      .btn-group
        = link_to(unit_pages_path(@unit), class: 'btn btn-default') do
          %i.fa.fa-reply
          #{@unit.name_unit} Pages

        - if policy(@page).edit?
          = link_to(edit_unit_page_path(@unit, @page), class: 'btn btn-default') do
            %i.fa.fa-edit
            Edit

        %a.btn.dropdown-toggle.btn-default{ href: '#', data: { toggle: 'dropdown' }, title: 'Actions' }
          %i.fa.fa-gear
          %span.caret
        %ul.dropdown-menu.pull-right
          - if policy(@page).destroy?
            %li
              = link_to(unit_page_path(@unit, @page), method: :delete, data: { confirm: 'Are you sure?' }, class: '') do
                %i.fa.fa-trash-o
                Destroy #{@page.title}

          - if policy(@page).new?
            %li
              = link_to(new_unit_page_path(@unit), class: '') do
                %i.fa.fa-plus
                New Page

= render partial: 'layouts/flash', locals: { flash: flash, ar_object: @page }

-# = cache ["unit-#{@unit.id}", :admin, @page] do
.row
  .col-md-8
    .text-xlarge
      %table.table
        %tr
          %td.td-label Public
          %td= @page.public ? 'Yes' : 'No'

        %tr
          %td.td-label Created by
          %td= @page.created_by.try(:name)

        %tr
          %td.td-label Last update
          %td= @page.updated_at.to_s(:short_ampm)

        %tr
          %td.td-label Updates
          %td
            %span.small= simple_format @page.update_history

.row
  .col-md-10.col-md-offset-1
    %h4 How this page will appear:
    .panel.panel-default
      = cache ["unit-#{@unit.id}", @page] do
        .panel-body= @page.body.html_safe

