= form_for [@unit, @user], html: { class: 'form-horizontal' } do |f|
  = render partial: 'layouts/flash', locals: {flash: flash, ar_object: @user}

  .form-group
    = f.label :unit, class: @label_col_class
    .col-md-6
      .text-xlarge= @unit.name

  .form-group
    = f.label :name, class: @label_col_class
    .col-md-3
      = f.text_field :first_name, class: 'form-control', placeholder: 'first name'
    .col-md-3
      = f.text_field :last_name, class: 'form-control', placeholder: 'last name'

  .form-group
    = f.label :sub_unit_id, @unit.sub_unit_name ,class: @label_col_class
    .col-md-2
      = f.collection_select :sub_unit_id, @unit.sub_units, :id, :name, {include_blank: true}, class: 'form-control'

  .form-group
    = f.label :rank, class: @label_col_class
    .col-md-2
      = f.select :rank, @unit.ranks, {}, class: 'form-control', include_blank: true

  .form-group
    = f.label :leadership_position, 'Leadership positions', class: @label_col_class
    .col-md-2
      %p= f.select :leadership_position, @unit.scout_leadership_positions, {include_blank: true}, class: 'form-control'
  .form-group
    .col-md-offset-4.col-md-6
      = f.text_field :additional_leadership_positions, class: 'form-control', placeholder: 'additional leadership positions'

  .form-group
    = f.label :birth, 'Birthday', class: @label_col_class
    .col-md-6
      = f.date_select :birth, {start_year: 1930, end_year: Time.now.year, include_blank: true}, class: 'form-control'

  %fieldset
    %legend Picture
    .form-group
      .col-md-offset-4.col-md-6
        .well.well-sm
          = image_tag @user.picture.url
          %p= f.file_field :picture
        .help-block alowed attachments: jpg jpeg gif png, at least 200px X 200px



  %fieldset
    %legend Address
    .form-group
      = f.label :address1, class: @label_col_class
      .col-md-4
        = f.text_field :address1, class: 'form-control'

    .form-group
      = f.label :address2, class: @label_col_class
      .col-md-4
        = f.text_field :address2, class: 'form-control'

    .form-group
      = f.label :city, 'City, State, Zip', class: @label_col_class
      .col-md-2
        = f.text_field :city, class: 'form-control', placeholder: 'city'
      .col-md-1
        = f.text_field :state, class: 'form-control', placeholder: 'state'
      .col-md-2
        = f.text_field :zip_code, class: 'form-control', placeholder: 'zip code'

  %fieldset
    %legend Parents (adults)
    .form-group
      = label_tag :adult_ids, 'Parents', class: @label_col_class
      .col-md-6
        = f.collection_select :adult_ids, @unit.adults.by_name_lf, :id, :name_lf, {}, {multiple: true, class: 'form-control', style: "width: 500px"}
        .help-block parents will also be associated to the den(s)/patrol(s) of this Scout


  .form-group
    .col-md-offset-4.col-md-6
      = f.submit class: 'btn btn-primary'
      = link_to 'Cancel', unit_scouts_path(@unit), class: 'btn'
