- if users.size > 0
  %table.table.table-outside-bordered
    %thead
      %th
      %th Name
      %th= unit.sub_unit_name
      %th Rank
      %th Leadership
      %th.text-right Age
      %th Adults

    = #cache ["unit-#{unit.id}", cache_key_for_users(users)] do
    = cache_unless searching, ["unit-#{unit.id}", cache_key_for_users(users)] do
      - users.each do |scout|
        = cache ["unit-#{unit.id}", scout] do
          %tr
            %td.centered= user_picture_circle(scout)
            %td= link_to scout.name_lf, unit_scout_path(unit, scout)
            %td= scout.sub_unit.try(:name)
            %td= scout.rank
            %td.col-md-2= all_leadership_positions(@unit, scout)
            %td.text-right= scout.age
            %td= unit_adults_link_list(unit, scout.adults)

  %small showing #{users.size} of #{users_count}

-else
  %h1.centered no results found
