.row
  .col-md-12
    .page-header
      .pull-right
        - if policy(Scout).new?
          = link_to(new_unit_scout_path(@unit), class: "btn btn-success") do
            %i.fa.fa-plus
            new scout

      %h2 Scouts in #{@unit.name}


.row
  .col-md-9
    = render partial: 'layouts/flash', locals: {flash: flash}

    %table.table
      %thead
        %th
        %th Name
        %th= @unit.sub_unit_name
        %th Rank
        %th Leadership
        %th.text-right Age
        %th Adults

      = cache ["unit-#{@unit.id}", cache_key_for_users(@users)] do
        - @users.each do |scout|
          = cache ["unit-#{@unit.id}", scout] do
            %tr
              %td.user-picture
                - if scout.picture.present?
                  %div.circle-picture{style: "background:url(#{scout.picture.thumb.url})"}
              %td= link_to scout.name_lf, unit_scout_path(@unit, scout)
              %td= scout.sub_unit.try(:name)
              %td= scout.rank
              %td.col-md-2= scout.all_leadership_positions
              %td.text-right= scout.age
              %td= unit_adults_link_list(@unit, scout.adults)

              / %td
              = #link_to 'Show', unit_scout_path(@unit, scout), class: 'btn btn-mini'
              = #link_to 'Edit', edit_unit_scout_path(@unit, scout), class: 'btn btn-mini'
              = #link_to 'Destroy', unit_scout_path(@unit, scout), confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger btn-mini'

  .col-md-3
    .well.well-boys
      = cache ["unit-#{@unit.id}", :rank_count, cache_key_for_users(@users)] do
        %strong Rank Count
        %ul.list-unstyled
          - @unit.ranks.each do |rank|
            %li= "#{rank} : #{@unit.scout_rank_count[rank]}"

      = cache ["unit-#{@unit.id}", :sub_unit_count, cache_key_for_users(@users) ] do
        %strong #{@unit.sub_unit_name} Count
        %ul.list-unstyled
          - @unit.scout_sub_unit_count.each do |sub_unit|
            %li= "#{sub_unit[0] || '<none>'} : #{sub_unit[1]}"
