.row
  .col-md-9
    = render partial: 'layouts/flash', locals: {flash: flash}

    .panel.panel-index-table.panel-default
      .panel-heading
        %span.xxlarge
          %i.fa.fa-group
          Scouts in #{@unit.name_unit}

      .panel-body
        .panel-nav
          - if policy(Scout).new?
            .pull-right
              = link_to(new_unit_scout_path(@unit), class: "btn btn-default") do
                %i.fa.fa-plus
                new scout

          = cache ["unit-#{@unit.id}", ":scouts_search"] do
            = render partial: 'layouts/search', locals: {search_url: "/units/#{@unit.id}/scouts.js?search_typeahead="}


        #scout-index
          = render partial: 'index', locals: {unit: @unit, users: @users, users_count: @users_count, searching: @searching}


  .col-md-3
    = cache ["unit-#{@unit.id}", :rank_count, cache_key_for_users(@users)] do
      .panel.panel-index-table.panel-default
        .panel-heading Rank Count (all)
        .panel-body
          %ul.list-unstyled
            - @unit.ranks.each do |rank|
              %li= "#{rank} : #{@unit.scout_rank_count[rank]}"

    = cache ["unit-#{@unit.id}", :sub_unit_count, cache_key_for_users(@users) ] do
      .panel.panel-index-table.panel-default
        .panel-heading #{@unit.sub_unit_name} Count (all)
        .panel-body
          %ul.list-unstyled
            - @unit.scout_sub_unit_count.each do |sub_unit|
              %li= "#{sub_unit[0] || '<none>'} : #{sub_unit[1]}"
