.row
  .col-md-12
    .page-header
      .pull-right
        - #if @user.users.where(id: current_user).count > 0
        .btn-group
          = link_to(unit_scouts_path(@unit), class: 'btn btn-default') do
            %i.fa.fa-reply
            #{@unit.name_unit} Scouts

          - if policy(@user).edit?
            = link_to(edit_unit_scout_path(@unit, @user), class: 'btn btn-default') do
              %i.fa.fa-edit
              Edit

          %a.btn.dropdown-toggle.btn-warning{href: '#', data: {toggle: 'dropdown'}}
            %i.fa.fa-gear
            Actions
            %span.caret
          %ul.dropdown-menu.pull-right
            - if policy(@user).destroy?
              %li
                = link_to(unit_scout_path(@unit, @user), method: :delete, data: {confirm: 'Are you sure?'}, class: "") do
                  %i.fa.fa-trash-o
                  Destroy #{@user.first_name}

            - if policy(@user).new?
              %li
                = link_to(new_unit_scout_path(@unit), class: "") do
                  %i.fa.fa-plus
                  New Scout

            - if policy(@user).send_welcome_reset_password?
              %li
                = link_to 'Send Welcome Email', '#', data: { toggle: 'modal', target: '#send-welcome-email'}


      %h2 Scout: #{@user.full_name}

    = render partial: 'layouts/flash', locals: {flash: flash, ar_object: @user}

= cache ["unit-#{@unit.id}", @user] do
  .row
    .col-md-8
      .text-xlarge
        %table.table
          %tr
            %td
              / %strong= @user.sub_unit.unit.unit_type_title
              %strong Unit
            %td
              = @user.sub_unit.try(:unit).try(:name)

          %tr
            %td
              %strong Rank
            %td
              = @user.rank

          %tr
            %td
              %strong Position
            %td
              = all_leadership_positions(@unit, @user)

          %tr
            %td
              %strong= @unit.sub_unit_name
            %td
              = @user.sub_unit.try(:name)

          %tr
            %td
              %strong Birthday
            %td= birthdate_and_years_old(@user)

          %tr
            %td
              %strong Phones
            %td
              - @user.phones.each do |phone|
                #{phone.kind}:
                = link_to (number_to_phone phone.number), "tel:1-#{number_to_phone phone.number}"
                %br

          %tr
            %td
              %strong Parents
            %td
              = scout_adults_link_list(@unit, @user)

          %tr
            %td
              %strong Address
            %td
              %address= user_address_show(@user)

    .col-md-3.col-md-offset-1
      .panel.panel-default
        .panel-body.centered
          = image_tag @user.picture.url, class: 'circle-picture'


= render layout: 'users/send_welcome_email_modal' do
  = link_to "Send Welcome Email", send_welcome_reset_password_unit_scout_path(@unit, @user), class: 'btn btn-primary'

