.row
  .col-md-12
    .page-header
      .pull-right
        .btn-group
          - #if @user.users.where(id: current_user).count > 0
          = link_to(unit_scouts_path(@unit), class: 'btn btn-default') do
            %i.fa.fa-reply
            #{@unit.name_unit} scouts

          - if policy(@user).edit?
            = link_to(edit_unit_scout_path(@unit, @user), class: 'btn btn-default') do
              %i.fa.fa-edit
              change

        .btn-group
          %a.btn.dropdown-toggle.btn-warning{href: '#', data: {toggle: 'dropdown'}}
            actions
            %span.caret
          %ul.dropdown-menu.pull-right
            - if policy(@user).destroy?
              %li
                = link_to(unit_scout_path(@unit, @user), method: :delete, data: {confirm: 'Are you sure?'}, class: "") do
                  %i.fa.fa-trash-o
                  destroy #{@user.first_name}

            - if policy(@user).new?
              %li
                = link_to(new_unit_scout_path(@unit), class: "") do
                  %i.fa.fa-plus
                  new scout

      %h2 Scout: #{@user.full_name}

    = render partial: 'layouts/flash', locals: {flash: flash, ar_object: @user}

= cache ["unit-#{@unit.id}", @user] do
  .row
    .col-md-8
      .text-xlarge
        %table.table
          %tr
            %td
              / %strong= @user.sub_unit.unit.unit_type_title
              %strong Unit
            %td
              = @user.sub_unit.try(:unit).try(:name)

          %tr
            %td
              %strong Rank
            %td
              = @user.rank

          %tr
            %td
              %strong Position
            %td
              = all_leadership_positions(@unit, @user)

          %tr
            %td
              %strong= @unit.sub_unit_name
            %td
              = @user.sub_unit.try(:name)

          %tr
            %td
              %strong Birthday
            %td= birthdate_and_years_old(@user)

          %tr
            %td
              %strong Phones
            %td
              - @user.phones.each do |phone|
                #{phone.kind}:
                = link_to (number_to_phone phone.number), "tel:1-#{number_to_phone phone.number}"
                %br

          %tr
            %td
              %strong Parents
            %td
              = scout_adults_link_list(@unit, @user)

          %tr
            %td
              %strong Address
            %td
              %address= user_address_show(@user)

    .col-md-3.col-md-offset-1
      .panel.panel-default
        .panel-body.centered
          = image_tag @user.picture.url, class: 'circle-picture'



/ %tr
/   %td
/     %strong Times
/   %td #{@event.start_at.to_s(:short_ampm)} - #{@event.start_at.to_s(:short_ampm)}

/ %tr
/   %td
/     %strong Organizer
/   %td
/     - @event.users.each do |user|
/       = link_to user.full_name, user_path(user.id)

/ %tr
/   %td
/     %strong RSVP
/   %td #{@event.signup_required ? "required, by #{@event.signup_deadline.to_s(:short_ampm)}" : 'not required'}

/ %tr
/   %td
/     %strong Reminders?
/   %td #{@event.send_reminders ? 'Yes' : 'No'}

/   %tr
/     %td
/       %strong Attire
/     %td= @event.attire

/ %tr
/   %td
/     %strong Location
/   %td
/     %address= location_show(@event)
/     - if @event.location_map_url.blank?
/       = gmaps(map_options: {zoom: 13, auto_zoom: false}, markers: {data: @event.to_gmaps4rails})
/       = #gmaps4rails(@event.to_gmaps4rails)
/     - else
/       .iframe-rwd
/         %iframe{src: location_map_url_iframe(@event).html_safe, frameborder: "0", width: "300", height: "300", scrolling: "no", marginheight: "0", marginwidth: "0"}

/   %tr
/     %td &nbsp;
/     %td= @event.message.html_safe
