%h1 Listing email_groups

%table
  %thead
    %tr
      %th Unit
      %th User ids
      %th User
      %th
      %th
      %th

  %tbody
    - @email_groups.each do |email_group|
      %tr
        %td= email_group.unit
        %td= email_group.user_ids
        %td= email_group.user
        %td= link_to 'Show', email_group
        %td= link_to 'Edit', edit_email_group_path(email_group)
        %td= link_to 'Destroy', email_group, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Email group', new_email_group_path
