.page-header
  .row
    .col-md-7
      %h2 Email Group

    .col-md-5.right-aligned
      .btn-group
        = link_to unit_email_groups_path(@unit), class: 'btn btn-default' do
          %i.fa.fa-reply.hidden-xs
          Email Groups

        - if policy(@email_group).edit?
          = link_to(edit_unit_email_group_path(@unit, @email_group), class: 'btn btn-default') do
            %i.fa.fa-edit
            Edit


        %a.btn.dropdown-toggle.btn-default{href: '#', data: {toggle: 'dropdown'}, title: 'Actions'}
          %i.fa.fa-gear
          %span.caret
        %ul.dropdown-menu.pull-right
          - if policy(@email_group).destroy?
            %li
              = link_to(unit_email_group_path(@unit, @email_group), method: :delete, data: {confirm: 'Are you sure?'}, class: "") do
                %i.fa.fa-trash-o.text-muted-more
                Destroy #{@email_group.name}

          - if policy(@email_group).new?
            %li
              = link_to(new_unit_email_group_path(@unit), class: "") do
                %i.fa.fa-plus.text-muted-more
                New Email Group




= render partial: 'layouts/flash', locals: {flash: flash, ar_object: @email_group}

.text-xlarge
  %table.table
    %tr
      %td
        %strong Name
      %td= @email_group.name

    %tr
      %td
        %strong Send Email
      %td
        = link_to new_unit_email_message_path(@unit, email_group_id: @email_group.id) do
          %i.fa.fa-envelope
          Email the #{ @email_group.name }


    %tr
      %td
        %strong Description
      %td= @email_group.description

    %tr
      %td
        %strong Recipients
        %span.badge= @email_group.users.size
      %td
        = @email_group.users.map(&:name).join(', ')
