-# .col-lg-6
-#   .modal-fade
-#     .modal-dialog
-#       .modal-content
-#         .modal-header
-#           %h2 New?

-#         .modal-body
-#           = link_to "Sign Up Today!", new_user_registration_path, class: 'btn btn-primary btn-large'

.col-lg-6.col-lg-offset-3
  .modal-fade
    .modal-dialog
      .modal-content
        .modal-header
          %h2 Welcome Back!

        .modal-body
          = render partial: 'layouts/flash', locals: { flash: flash }

          .row
            .col-md-8.col-md-offset-2
              = bootstrap_form_for resource, as: resource_name, url: session_path(resource_name) do |f|

                = f.email_field :email, autofocus: true, placeholder: 'email', hide_label: true, class: 'input-lg'
                = f.password_field :password, placeholder: 'password', hide_label: true, class: 'input-lg'

                - if devise_mapping.rememberable?
                  .centered
                    = f.check_box :remember_me, checked: true
                %br
                = f.submit 'Sign in', class: 'btn btn-primary btn-block btn-lg'
                %br

              - if devise_mapping.registerable? && controller_name != 'registrations' && false
                %p.centered
                  Don't have an account?
                  = link_to 'Sign up', new_registration_path(resource_name)

        .modal-footer
          = render partial: 'devise/shared/links'
