.span6
  .modal-style
    .modal-header
      %h2 New?

    .modal-body
      = link_to "Sign Up Today!", new_user_registration_path, :class => 'btn btn-primary btn-large'

.span6
  .modal-style
    .modal-header
      %h2 Returning?

    .modal-body
      = render :partial => 'layouts/flash', :locals => {:flash => flash}

      = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f|

        .control-group
          = f.label :email, :class => 'control-label'
          .controls
            = f.email_field :email, :class => 'text_field'

        .control-group
          = f.label :password, :class => 'control-label'
          .controls
            = f.password_field :password, :class => 'text_field'

        - if devise_mapping.rememberable?
          .control-group
            .controls
              = f.label :remember_me, :class => 'checkbox' do
                = f.check_box :remember_me
                remember me

        .control-group
          .controls
            = f.submit "Sign in", :class => 'btn btn-primary'

    .modal-footer
      = render :partial => "devise/shared/links"
