= form_for @unit, html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :unit_type, class: 'control-label'
    .controls
      = f.select :unit_type, Unit.unit_types
  .form-group
    = f.label :unit_number, class: 'control-label'
    .controls
      = f.text_field :unit_number, class: 'text_field'
      %span{class: 'help-inline'} ex. 134, 603, 15
  .form-group
    = f.label :city, class: 'control-label'
    .controls
      = f.text_field :city, class: 'text_field'
  .form-group
    = f.label :state, class: 'control-label'
    .controls
      = f.subregion_select :state, 'US'
  .form-group
    = f.label :time_zone, class: 'control-label'
    .controls
      = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones
  .form-group
    .col-md-offset-4.col-md-6
      = f.submit 'Save', class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), units_path, class: 'btn btn-default'
