.row
  .col-md-9
    = bootstrap_form_for [@unit, @sub_unit] do |f|
      = render partial: 'layouts/flash', locals: {flash: flash, ar_object: @sub_unit}

      .row
        .col-md-4
          = f.text_field :name
      = f.text_field :description


      %br
      = f.primary
      = link_to 'Cancel', unit_sub_units_path(@unit), class: 'btn btn-default'

  .col-md-3
