.row
  .col-md-9
    = bootstrap_form_for [@unit, @sub_unit] do |f|
      = f.hidden_field :unit_id, value: @unit.id
      = render partial: 'layouts/flash', locals: { flash: flash, ar_object: @sub_unit }

      .row
        .col-md-4
          = f.text_field :name, autofocus: true
      = f.text_field :description


      %br
      = f.primary
      - if @sub_unit.new_record?
        = link_to 'Cancel', unit_sub_units_path(@unit), class: 'btn btn-default'
      - else
        = link_to 'Cancel', unit_sub_unit_path(@unit, @sub_unit), class: 'btn btn-default'
