.row
  .col-md-12
    = render partial: 'layouts/flash', locals: {flash: flash}

    .panel.panel-index-table.panel-default
      .panel-heading
        %span.xxlarge
          %i.fa.fa-users
          = @unit.sub_unit_name.pluralize

      .panel-body
        .panel-nav
          - if policy(SubUnit).new?
            .pull-right
              = link_to(new_unit_sub_unit_path(@unit), class: "btn btn-default") do
                %i.fa.fa-plus
                New #{@unit.sub_unit_name}


        .row
          .col-md-12
            %br
            #sub-unit-index
              %table.table.table-outside-bordered
                %tr
                  %th Name
                  %th Description
                  %th Scouts

                  -# = cache ["unit-#{unit.id}", cache_key_for_merit_badges(merit_badges)] do
                  - @sub_units.each do |sub_unit|
                    -# = cache ["unit-#{unit.id}", merit_badge] do
                    %tr
                      %td.xlarge
                        = link_to sub_unit.name, unit_sub_unit_path(@unit, sub_unit)
                        %span.badge= sub_unit.scouts.count
                      %td= sub_unit.description
                      %td.scout-list= sub_unit.scouts.by_name_lf.map(&:name).join(', ')
