%h1 Listing sub_units

%table
  %tr
    %th Unit
    %th Name
    %th Description
    %th
    %th
    %th

  - @sub_units.each do |sub_unit|
    %tr
      %td= sub_unit.unit_id
      %td= sub_unit.name
      %td= sub_unit.description
      %td= link_to 'Show', sub_unit
      %td= link_to 'Edit', edit_sub_unit_path(sub_unit)
      %td= link_to 'Destroy', sub_unit, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Sub unit', new_sub_unit_path
