= render partial: 'layouts/flash', locals: {flash: flash, ar_object: @health_form}



.row
  .col-md-8
    .alert.alert-info
      %strong IMPORTANT:
      enter the date the health form was <u>signed</u>. Scoutt.in will calculate the expiration date as 1 year from when the form was signed.

    = bootstrap_form_for [@unit, @health_form], layout: :horizontal do |f|
      = hidden_field_tag :return, @return
      = render partial: 'health_forms', locals: {f: f}

      = f.form_group do
        = f.primary
        = link_to 'Cancel', @return || unit_health_forms_path(@unit), class: 'btn btn-default'


  .col-md-3.col-md-offset-1
    .panel.panel-default
      .panel-body.centered
        %h3= @health_form.user.name
        - if @health_form.user.picture.present?
          = image_tag @health_form.user.picture.url, class: 'circle-picture'
        - else
          - if @health_form.user.adult?
            .initial-circle.initial-circle-lg.initial-circle-adult= @health_form.user.initials
          - else
            .initial-circle.initial-circle-lg.initial-circle-scout= @health_form.user.initials

