.pull-right
  %p
    %span.label.label-success Expires > 30 days
    %span.label.label-warning Expires in 30 days
    %span.label.label-danger Expires in 15 days


- if users.size > 0
  %table.table.table-outside-bordered
    %tr
      %th
      %th Name
      %th.centered Part A
      %th.centered Part B
      %th.centered Part C
      %th.centered Florida SB
      %th.centered Northern Tier
      %th.centered Philmont
      %th.centered Summit

      -# = cache ["unit-#{unit.id}", cache_key_for_merit_badges(merit_badges)] do
      - users.each do |user|
        - user_health_form = user.health_forms.unit(unit)
        -# = cache ["unit-#{unit.id}", merit_badge] do
        %tr
          %td.centered
            - if user.picture.present?
              = image_tag user.picture.thumb.url, class: 'circle-picture circle-picture-sm'
            - else
              - if user.adult?
                .initial-circle.initial-circle-adult= user.initials
              - else
                .initial-circle.initial-circle-scout= user.initials

          - if user_health_form
            %td= link_to user.name_lf, edit_unit_health_form_path(unit, user_health_form)
          - else
            %td= link_to user.name_lf, new_unit_health_form_path(unit, user_id: user.id)

          - [:part_a_date, :part_b_date, :part_c_date, :florida_sea_base_date, :northern_tier_date, :philmont_date, :summit_tier_date].each do |hf|
            %td.centered
              %span.label.large{class: form_date_label(user_health_form.try(hf))}= user_health_form.try(hf).try(:to_s, :us_date)

  -# %small showing #{merit_badges.size} of #{merit_badges_count}

-else
  %h1.centered no results found
