.row
  .col-md-12

    - if users.size > 0
      %table.table.table-outside-bordered
        %tr
          %th
          %th
          %th.centered{ colspan: '7' } Expiration Dates
          %th
        %tr
          %th
          %th Name
          %th.centered Part A
          %th.centered Part B
          %th.centered Part C
          %th.centered Florida SB
          %th.centered Northern Tier
          %th.centered Philmont
          %th.centered Summit
          %th.centered Actions

          -# = cache ["unit-#{unit.id}", cache_key_for_health_forms(health_forms)] do
          - users.each do |user|
            - user_health_form = user.health_forms.unit(unit)
            = cache ["unit-#{unit.id}", user, user_health_form] do
              %tr.v-centered
                %td.centered= user_picture_circle(user)

                - if user_health_form
                  - if HealthFormPolicy.new(current_user, user_health_form, unit).edit?
                    %td= link_to user.name_lf, edit_unit_health_form_path(unit, user_health_form)
                  - else
                    %td= user.name_lf

                  - [:part_a_expires, :part_b_expires, :part_c_expires, :florida_sea_base_expires, :northern_tier_expires, :philmont_expires, :summit_tier_expires].each do |hf|
                    %td.centered
                      %span.label.large{ class: form_date_label(user_health_form.try(hf)) }= user_health_form.send(hf).try(:to_s, :mo_abbr_year)

                  %td.centered
                    .btn-group
                      - if HealthFormPolicy.new(current_user, user_health_form, unit).edit?
                        = link_to 'Edit', edit_unit_health_form_path(unit, user_health_form), class: 'btn btn-default btn-xs'

                      - if HealthFormPolicy.new(current_user, user_health_form, unit).destroy?
                        = link_to 'Remove All', unit_health_form_path(unit, user_health_form), method: :delete, data: { confirm: 'Are you sure you want to remove ALL health forms?' }, class: 'btn btn-default btn-xs'

                - else
                  - if HealthFormPolicy.new(current_user, nil, unit).create?
                    %td= link_to user.name_lf, new_unit_health_form_path(unit, user_id: user.id)
                  - else
                    %td= user.name_lf

                  %td{ colspan: '7' }
                  %td.centered= link_to 'Add', new_unit_health_form_path(unit, user_id: user.id), class: 'btn btn-default btn-xs'

      %small showing #{users.size} of #{users_count}

    - else
      %h1.centered no results found
