.page-header
  %h2 Health Forms

= render partial: 'layouts/flash', locals: {flash: flash}

.pull-right
  %p
    %span.label.label-success Expires > 30 days
    %span.label.label-warning Expires in 30 days
    %span.label.label-danger Expired


= cache ["unit-#{@unit.id}", ":health_form_search"] do
  = render partial: 'layouts/search', locals: {type: 'health forms', search_url: "/units/#{@unit.id}/health_forms.js?search_typeahead="}
  %br


#health-form-index
  = render partial: 'index', locals: {unit: @unit, users: @users, users_count: @users_count, searching: @searching}
