- flash.each do |name, msg|
  - if display_flash_type?(name)
    = content_tag :div, class: "alert #{flash_method_class(name)}" do
      %i{class: "fa #{flash_method_icon(name)} fa-lg"}
      = msg

- if defined?(ar_object) && !ar_object.nil? && ar_object.errors.size > 0
  = content_tag :div, class: "alert alert-danger" do
    %h4 #{pluralize(ar_object.errors.count, "error")} prohibited this #{ar_object.class.name} from being saved:
    - ar_object.errors.full_messages.each do |msg|
      %p #{msg}
