- flash.each do |name, msg|
  - if display_flash_type?(name)
    = content_tag :div, :class => "alert #{flash_method_class(name)}" do
      %i{:class => "#{flash_method_icon(name)} icon-large"}
      = msg

- if defined?(ar_object) && !ar_object.nil?
  - ar_object.errors.full_messages.each do |msg|
    = content_tag :div, :class => "alert alert-error" do
      %p #{msg}
