= cache :footer do
  %footer
    .container-fluid
      .row
        .col-md-12
          %p.pull-right
            &copy; #{Time.now.year}, Desert Solitaire, LLC
            %br
            %small All rights reserved.


          %small connect with Scoutt.in
          %br
          = link_to 'http://blog.scoutt.in' do
            %span.fa-stack.fa-lg
              %i.fa.fa-square.fa-stack-2x.rss-orange
              %i.fa.fa-rss.fa-stack-1x.fa-inverse

          = link_to 'https://twitter.com/ScouttInBlog' do
            %span.fa-stack.fa-lg
              %i.fa.fa-square.fa-stack-2x.twitter-blue
              %i.fa.fa-twitter.fa-stack-1x.fa-inverse

          = link_to 'https://www.facebook.com/pages/Scouttin/576276159173793' do
            %span.fa-stack.fa-lg
              %i.fa.fa-square.fa-stack-2x.facebook-blue
              %i.fa.fa-facebook.fa-stack-1x.fa-inverse

