.navbar.navbar-fixed-top.navbar-inverse#navbar-fixed-upper
  .container-fluid
    .navbar-header
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target="#scoutz-navbar-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Scoutt.in', unit_events_path(@unit), class: 'navbar-brand'

    .collapse.navbar-collapse#scoutz-navbar-collapse
      %ul.nav.navbar-nav.pull-right
        - if current_user
          %li.dropdown
            = link_to '#', data: {toggle: 'dropdown', hover: 'dropdown'}, class: 'dropdown-toggle' do
              = image_tag user_picture_url(current_user), class: 'img-circle user-picture'
              %span.user-info
                %small Welcome,
                = current_user.first_name
              %i.fa.fa-caret-down.user-caret

            %ul.dropdown-menu
              %li
                = link_to corrected_unit_user_path(@unit, current_user) do
                  %i.fa.fa-user
                  Profile
              %li
                = link_to edit_unit_user_password_path(@unit, current_user) do
                  %i.fa.fa-key
                  Change Password
              %li.divider
              %li
                = link_to destroy_user_session_url, method: :delete, protocol: env_protocol do
                  %i.fa.fa-power-off
                  Sign out

        - else
          %li= link_to 'Sign in', new_user_session_url, protocol: env_protocol

.navbar.navbar-default#navbar-fixed-lower
  .container-fluid
    .navbar-header
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target="#unit-navbar-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    - if @units.size > 1
      = form_tag change_default_unit_units_path, method: :get, class: 'navbar-form navbar-left' do
        = select_tag :select_default_unit, options_from_collection_for_select(@units, :id, :name_short, [@unit.id]), class: 'form-control'

    - else
      = link_to @unit.name_unit, '/', class: 'navbar-brand'

    .navbar-collapse.collapse#unit-navbar-collapse
      %form.navbar-form.navbar-left
        = hidden_field_tag :meta_search_action, "/meta_search?unit_id=#{@unit.id}"
        .form-group
          .input-group
            %span.input-group-addon
              %i.fa.fa-search
            = search_field_tag :search_meta, '', class: 'form-control search-meta', placeholder: 'search... everything!'



      %ul.nav.navbar-nav
        %li.dropdown
          = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown', hover: 'dropdown'} do
            %i.fa.fa-user
            People
            %i.fa.fa-caret-down

          %ul.dropdown-menu
            %li
              = link_to unit_scouts_path(@unit) do
                %i.fa.fa-user{style: "color: #c00;"}
                Scouts

            %li
              = link_to unit_adults_path(@unit) do
                %i.fa.fa-user{style: "color: #c0c000;"}
                Adults

            - if @unit.unit_type == "Boy Scouts"
              %li
                = link_to unit_merit_badges_path(@unit) do
                  %i.fa.fa-graduation-cap
                  MB Counselors

              %li
                = link_to unit_health_forms_path(@unit) do
                  %i.fa.fa-graduation-cap
                  Health Forms



        - if policy(EmailMessage).create? || policy(SmsMessage).create?
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown', hover: 'dropdown'} do
              %i.fa.fa-phone
              Communications
              %i.fa.fa-caret-down

            %ul.dropdown-menu
              - if policy(EmailMessage).create?
                -# %li.dropdown
                -#   = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown', hover: 'dropdown'} do
                -#     %i.fa.fa-envelope
                -#     Email Blast
                -#     %i.fa.fa-caret-down
                %li.non-link-text
                  %i.fa.fa-envelope
                  %strong Email Blast
                %li
                  = link_to unit_email_messages_path(@unit) do
                    My Sent Email
                %li
                  = link_to new_unit_email_message_path(@unit) do
                    %i.fa.fa-plus
                    New Email Blast
                %li.divider


              - if policy(SmsMessage).create?
                -# %li.dropdown
                -#   = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown', hover: 'dropdown'} do
                -#     %i.fa.fa-phone
                -#     SMS Blast
                -#     %i.fa.fa-caret-down

                -# %ul.dropdown-menu
                %li.non-link-text
                  %i.fa.fa-mobile-phone.fa-lg
                  %strong SMS Blast
                %li
                  = link_to unit_sms_messages_path(@unit) do
                    My Sent SMS
                %li
                  = link_to new_unit_sms_message_path(@unit) do
                    %i.fa.fa-plus
                    New SMS Blast




        %li.dropdown
          = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown', hover: 'dropdown'} do
            %i.fa.fa-calendar
            Events
            %i.fa.fa-caret-down

          %ul.dropdown-menu
            %li
              = link_to unit_events_path(@unit) do
                Event List

            %li
              = link_to calendar_unit_events_path(@unit) do
                Event Calendar

            - if policy(Event).create?
              %li
                = link_to new_unit_event_path(@unit) do
                  %i.fa.fa-plus
                  New Event



        - if @unit.pages.active.count > 0 || policy(Page).index?
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown', hover: 'dropdown'} do
              %i.fa.fa-file-text-o
              Pages
              %i.fa.fa-caret-down

            %ul.dropdown-menu
              - @unit.pages.active.each do |page|
                %li= link_to page.title, [@unit, page]

              - if policy(Page).index?
                %li.divider
                %li= link_to 'Edit/Reorder', unit_pages_path(@unit)



      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to unit_events_path(@unit), data: {toggle: 'tooltip', placement: 'bottom', delay: {show: 1000}}, title: 'event list' do
            %i.fa.fa-list
        %li
          = link_to calendar_unit_events_path(@unit), data: {toggle: 'tooltip', placement: 'bottom', delay: {show: 1000}}, title: 'event calendar' do
            %i.fa.fa-calendar

