= csrf_meta_tags

= cache :head do
  %meta{:charset => "utf-8"}
  %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %title= content_for?(:title) ? yield(:title) : "Scoutt.in"

  / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  / WARNING: Respond.js doesn't work if you view the page via file://
  /[if lt IE 9]
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>

  = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
  = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css"
  = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/fullcalendar.min.css"
  = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css"
  = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css"
  = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/pnotify/2.0.0/pnotify.core.min.css"

  -# = stylesheet_link_tag "//cdn.jsdelivr.net/jquery.ui/1.11.0/themes/base/minified/jquery-ui.min.css"
  -# = stylesheet_link_tag "//cdn.jsdelivr.net/jquery.ui/1.11.0/themes/base/minified/jquery.ui.datepicker.min.css"
  -# = stylesheet_link_tag "//cdn.jsdelivr.net/jquery.ui/1.11.0/themes/base/minified/jquery.ui.slider.min.css"

  = stylesheet_link_tag "//cdn.jsdelivr.net/jquery.ui/1.11.0/themes/smoothness/jquery-ui.min.css"

  = #jquery_include_tag :google
  = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '144x144'
  = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '114x114'
  = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '72x72'
  = favicon_link_tag 'apple-touch-icon-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png'
  = favicon_link_tag '/favicon.ico', rel: 'shortcut icon'

= stylesheet_link_tag "application", :media => "all"
