= csrf_meta_tags

= cache :head do
  %meta{charset: "utf-8"}
  %meta{content: "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
  %title= content_for?(:title) ? yield(:title) : "Scoutt.in"

  / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  / WARNING: Respond.js doesn't work if you view the page via file://
  /[if lt IE 9]
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>

  = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
  = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.6/fullcalendar.min.css"
  = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css"
  = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2-bootstrap.min.css"
  = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/pnotify/2.0.0/pnotify.core.min.css"
  = stylesheet_link_tag "//fonts.googleapis.com/css?family=Kavoon"

  -# = stylesheet_link_tag "//cdn.jsdelivr.net/jquery.ui/1.11.0/themes/base/minified/jquery-ui.min.css"
  -# = stylesheet_link_tag "//cdn.jsdelivr.net/jquery.ui/1.11.0/themes/base/minified/jquery.ui.datepicker.min.css"
  -# = stylesheet_link_tag "//cdn.jsdelivr.net/jquery.ui/1.11.0/themes/base/minified/jquery.ui.slider.min.css"

  = stylesheet_link_tag "//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"

  = #jquery_include_tag :google
  = favicon_link_tag '/favicon.ico', rel: 'shortcut icon'

= stylesheet_link_tag "application", media: "all"
