= cache :javascript do
  /
    Javascripts
    \==================================================
  / Placed at the end of the document so the pages load faster

  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"
  = javascript_include_tag "//cdn.jsdelivr.net/jquery.ui/1.11.0/jquery-ui.min.js"

  = javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.3/fullcalendar.min.js"
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.3/gcal.js"
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/pnotify/2.0.0/pnotify.core.min.js"
  = javascript_include_tag "//cdn.ckeditor.com/4.4.6/full/ckeditor.js"
  = javascript_include_tag "//maps.google.com/maps/api/js?sensor=true"
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.12/gmaps.min.js"
  = #javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/dist/typeahead.bundle.min.js"

= javascript_include_tag "application"
= javascript_include_tag "ckeditor/config_ckeditor.js"
