/
  Javascripts
  \==================================================
/ Placed at the end of the document so the pages load faster
= #javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true"
= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"
= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"
= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"
= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/gcal.js"
= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/select2/3.4.6/select2.min.js"
= #javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"
= #javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.2/typeahead.bundle.min.js"
= javascript_include_tag "application"
