.list-group
  = link_to dashboard_list_path, class: 'list-group-item' do
    %i.icon-list-alt
    Event List

  = link_to dashboard_calendar_path, class: 'list-group-item' do
    %i.icon-calendar
    Event Calendar

- @units.each do |unit|
  .list-group
    %h5.list-group-item= unit.name_unit

    = link_to unit_scouts_path(unit), class: 'list-group-item' do
      %i.icon-user{style: "color: darkred;"}
      Scouts

    = link_to unit_adults_path(unit), class: 'list-group-item' do
      %i.icon-user{style: "color: olive;"}
      Adults

    = link_to '#', class: 'list-group-item', data: {toggle: 'collapse', target: "#email-blast-#{unit.id}"} do
      %i.icon-envelope
      Email Blast
      %i.icon-caret-down

      .collapse{class: @mo_activity ? 'in' : '', id: "email-blast-#{unit.id}"}
        = link_to new_unit_email_message_path(unit), class: 'list-group-item' do
          &nbsp;
          %i.icon-plus
          New

        = link_to unit_email_messages_path(unit), class: 'list-group-item' do
          &nbsp;
          %i.icon-list
          Sent

    = link_to new_unit_event_path(unit), class: 'list-group-item' do
      %i.icon-plus
      New Event
