!!! 5
%html(lang="en")
  %head
    = render 'layouts/head'
    = yield :head

  %body
    #header
      = render 'layouts/header'

    .container-fluid
      .row-fluid
        .span2
          = render 'layouts/sidebar'

        .span10
          #content
            = yield

    - #cache('application/footer') do
    = render 'layouts/footer'
    = render 'layouts/js'
    = yield :scripts
