!!! 5
%html(lang="en")
  %head
    = render 'layouts/head'
    = stylesheet_link_tag "landing"

    = yield :head

  %body
    #header
      = #render 'layouts/header'

    .container-fluid
      .row
        .col-md-12
          = yield

    - #cache('application/footer') do
    = render 'layouts/footer'
    = render 'layouts/js'
