!!! 5
%html(lang="en")
  %head
    = render 'layouts/head'
    = #yield :head

  %body
    #header
      = render 'layouts/unauth_header'

    .container-fluid
      .row
        .col-md-6.col-md-offset-3
          #content
            %h4 &nbsp;
            = yield

    - #cache('application/footer') do
    = render 'layouts/footer'
    = render 'layouts/js'
